- @providers.each_slice(3).each do |row|
  .row.mb-21
    - row.each do |provider|
      .col-md-4 
        .bg-img-block.mt-7{style: "height: 150px; background-image: url(#{provider.avatar_url(:thumb)});"}

        .bg-gray-lighter.p-14
          %small.fz-xs Desde
          %h4.text-primary.lh-xs.mv-0 Mex $200
          %small.text-primary.fz-xs por noche
          %h5.bold.m-0= "#{provider.name} #{provider.last_name_1} #{provider.last_name_2}"
          %small Distrito Federal y Jalisco
          %a{:href => "#"}
            %p.lh-sm.mb-0.text-gray.fz-xs Hola, soy ipsum dolor sit amet, amet sint repellat facere repud beatae temporibus...
            %span.text-gray-dark.fz-xs ver más.
          .hidden-md.separator.separator-gray-dark.separator-centered.mt-0.separator-full-width
          .row
            .col-md-8.pr-0
              .rating-reviews.pl-14.mt-7
            .col-md-4.pl-0
              .fz-xxs
                14
                %span.fz-xs comentarios
