<section id="mini-profiles">          
  <div class="container-fluid mh-210 bg-white m-0">
      <div class="row bg-navbar pb-0">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <%= search_form_for @search do |f| %>
          <div class="row header-form">
            <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name,{include_blank:"Elegir Municipio"}, {class:"borderless form-location-nav"} %> 
            <div class="col-sm-3">
              <%= text_field_tag(:start_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag(:end_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <%= f.submit "Buscar", class:"ml-7 borderless form-search" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row">
      <div class="profile-view">
        <div class="col-md-4 text-center">
          <div class="profile-pic text-center">
            <% if provider.avatar? %>
              <%= image_tag(provider.avatar_url(:thumb), :class => "img-circle img-responsive") %>
            <% elsif !provider.pictures.empty? %>  
              <%= image_tag(provider.pictures.last.image_url(:thumb), :class => "img-circle") %>
            <% else %>
              <%= image_tag('server_carnet.png', :class => "img-circle img-responsive" ) %>
            <% end %>
            <p class="mb-0"><i class="fa fa-user"></i> <%= provider.name %> <%= provider.last_name_1 %></p>
            <i class="fa fa-check"></i><strong> <%= provider.category.name %></strong>
            <p class="m-0 p-0" ><i class="fa fa-star"></i> <%= provider.avg_rating.to_i %>/5</p>
          </div>
        </div >
        <div class="col-md-8 mt-7">
          <div class="info">
            <h5 class="text-center mb-21">Hola, soy <%= provider.name %>.</h5>
           <ul class="list-unstyled">
            <% if provider.category.name == "Hotel" %>
            <li><i class="fa-phone"></i>&nbsp;Teléfono:&nbsp; <strong>+52 1 55 3455 0138</strong></li>
            <% else %>
            <li><i class="fa-phone"></i>&nbsp;Teléfono:&nbsp; <strong><%= provider.phone %></strong></li>
            <% end %>
            <li><span><i class="fa-map-marker mb-14"></i>&nbsp;Municipios donde puede trabajar:&nbsp;</span><%=# provider.prov_locations_modal %></li>
            <li><i class="fa fa-quote-left"></i> <%= @provider.description %> <i class="fa fa-quote-right"></i></li>
           </ul> 
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>