 
.row
  .col-md-12
    %h2.title-step Datos Personales
    %hr
.row
  .col-md-1
  .col-md-10
    .row
      .col-md-5
        = image_tag(@provider.avatar, width: '100%', id: 'provider_avatar_img') 
        = f.input :avatar, label: false, :input_html => { :onchange => 'previewImage(this, "provider_avatar_img", false)' }
        .input-append
          %a#upload-btn.btn.btn-primary.pretty_upload_input{el: "#provider_avatar"}
            %i.icon-upload-alt
            Sube Otra foto de perfil 
          %input#file-display.input-large.uneditable-input{:type => "text"}
        .row.border-bottom.mb-42 
      .col-md-7
        .row
          .col-md-3 Nombre:
          .col-md-9= f.input :name, label: false 
        .row
          .col-md-3 Apellido Paterno:
          .col-md-9= f.input :last_name_1, label: false 
        .row
          .col-md-3= current_country.dni_label 
          .col-md-9= f.input :dni, label: false 
        .row
          .col-md-3 Teléfono:
          .col-md-9= f.input :phone, label: false 
        .row
          .col-md-3 Correo electrónico:
          .col-md-9= f.input :email, label: false
    
    .row
      %h4 Fotos Adicionales:
    .row
      #carousel.flexslider
        %ul.slides
          = f.simple_fields_for :provider_attachments do |attachment|
            %li(style="width: 180px; height: 160px; float: left; display: block;")
              = image_tag(attachment.object.photo, :class => "attachment_image")
              .input-append
                %a#upload-btn.btn.btn-primary.pretty_upload_input{el: ".photo_local_#{attachment.object.id}", style: "float: left;"}
                  %i.icon-upload-alt
                  = "Buscar" 
              = attachment.link_to_remove "Borrar", class: "btn btn-danger ml-49"
              = attachment.input :photo, label: false, input_html: {class: "photo_local_#{attachment.object.id}", style: "display: none;", onchange: "previewImage(this, 'attachment_image', true)"}
        = f.link_to_add "Agrega una foto", :provider_attachments
        
  .col-md-1
  
:javascript  
  paint_pretty_uploads();
  
  $(document).on('nested:fieldAdded', function(event){
     var n = (Math.floor(Math.random() * 900) + 1);
     var field = event.field;
     var button = field.find('.pretty_upload_input');      
     var input = field.find('input')[1];
     button.attr('el', '.photo_' + String(n)); 
     $(input).addClass('photo_' + String(n));
     
     paint_pretty_uploads();
   });
