<%= javascript_include_tag 'gmaps.min' %>  
<%= javascript_include_tag 'provider_map' %>  
<div class="container content mh-630">
  <div class="row mt-35">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-14">
      <div class="panel panel-primary">
          <div class="panel-heading lead">Actualiza tu perfil</div>
          <div class="panel-body">
          <%= form_for(@provider) do |f| %>
            <%= render "providers/error_messages" %>
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :name, "Nombre:" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_1, "Apellido paterno:" %><br>
                <%= f.text_field :last_name_1, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_2, "Apellido materno:" %><br>
                <%= f.text_field :last_name_2, class: "form-control" %>
              </div>
            </div>  

            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :email, "Correo electrónico:" %><br>
                <%= f.text_field :email, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <%= f.label :dni, current_country.dni_label %><br>
                <%= f.text_field :dni, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <%= f.label :phone, "Teléfono:" %><br>
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                  <%= f.label :price, "Precio por noche:" %><br>
                  <%= f.text_field :price, class: "form-control" %>
                </div>
              <div class="col-md-5">
                <label>¿A qué categoría perteneces?</label>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { :class=> "form-control" }) %>
              </div>
              <div class="col-md-3">
                <%= f.label :avatar do %>
                  <%= f.file_field :avatar  %>
                  <%= f.hidden_field :avatar_cache  %>
                <% end %>
                <div class="input-append">
                  <a id="upload-btn" class="btn btn-primary"><i class="icon-upload-alt"></i> Elegir foto de perfil</a><br>
                  <input id="file-display" class="input-large uneditable-input" type="text">
                </div>
                <% unless @provider.avatar_cache.nil? %>
                <div id="archivo-elegido">Archivo elegido: <%= @provider.avatar_cache.slice(@provider.avatar_cache.index("/")+1,@provider.avatar_cache.length-@provider.avatar_cache.index("/")) %>
                </div>
                <% end %>
              </div>
            </div>

            <label>¿En qué distritos puedes trabajar?</label> <br>

            <div class="row pt-14 pb-21">
              <div class="col-md-12">
                <%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll();") %> <p onclick="allLabel()" class="inline-block m-0 p-0 strong text-primary">Todos</p>
              </div>
            </div>
            <% State.where("country_id = ?",current_country.id).each do |state| %>
            <p><%= state.name %></p> 
            <div class="row">
              <% state.locations.order('id DESC').each do |location| %>
                <div class="col-xs-12 col-md-4">
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %>
                </div>
              <% end %>
            </div>
            <% end %>

            <div class="form-group row">
              <div class="col-md-12">
                <%= f.label :description, "Cuéntanos sobre ti:" %>
                <%= f.text_field :description, class: "form-control" %>
              </div>
            </div>
            
             <div class="row mt-28">

              <div class="col-md-3">
                <div>
                  <%= f.label "Tamaños:" %> <br>
                  <% Size.find_each do |size| %>
                    <%= check_box_tag "provider[size_ids][]", size.id, @provider.size_ids.include?(size.id), id: dom_id(size) %>
                    <%= label_tag dom_id(size), size.size_title, class: "small" %> <br>
                  <% end %>
                </div>
              </div>
              <div class="col-md-3">
                <div> 
                  <%= f.label "Edades:" %> <br>
                  <% Age.find_each do |age| %>
                    <%= check_box_tag "provider[age_ids][]", age.id, @provider.age_ids.include?(age.id), id: dom_id(age) %>
                    <%= label_tag dom_id(age), age.age_group_name, class: "small" %> <br>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="mt-28">
              <%= f.label :areas_externas, "¿Cuéntas con áreas externas? (describe)" %><br>
              <%= f.text_field :areas_externas, class: "form-control" %>
            </div>
            <div class="row mt-28">
              <div class="col-md-6">
                <div>
                  <%= f.label :experiencia, "¿Años cuidando perros?" %><br>
                  <%= f.text_field :experiencia, class: "form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <%= f.label :property_id, "Tipo de propiedad" %><br>
                  <%= f.collection_select(:property_id, Property.all, :id, :property_name, {prompt: 'Selecciona'}, :class => "form-control") %>
                </div>
              </div>
            </div>

            <div class="row mt-28">
              <div class="map-info">
                <%= f.hidden_field :latitude  %>
                <%= f.hidden_field :longitude %>
              </div>
              <div class="col-md-8">
                <input type="text" id="address" name="address" class="form-control" placeholder="Ingrese su dirección..."/>
              </div>
              <div class="col-md-4">
                <button type="button" id="search_address" name="search_address" class="btn btn-primary">Buscar</button>
              </div>
              <div id="provider_location" class="mt-70" style="width: 100%; height: 400px;"></div>
              <script type="text/javascript">
                setProviderLocation(<%= @provider.latitude %>, <%= @provider.longitude %>);
              </script>
            </div>

            <div class="row mv-28">
              <div class="col-md-6">
                <%= f.check_box :emergencia %>
                <%= f.label :emergencia, "¿Brindas transporte de emergencia?" %>
              </div>
            </div>

            <% @provider.provider_attachments.each do |p| %>
              <%= image_tag p.photo, :size => "150x100" %>
              <%= link_to "Borrar foto", p, method: :delete %>
            <% end %>
            <div class="col-md-6">
              <%= f.fields_for @new_provider_attachment do |p| %>
                <div class="field mv-7">                
                  <%= p.file_field :photo, :multiple => true, name: "provider_attachments[photo][]" %>
                </div>
              <% end %>
            </div>
    

      <div class="form-group mv-28">
        <%= f.submit "Actualizar perfil", id: "submit", class: "btn btn-primary-grad" %>
      </div>

    <% end %>
       </div> <!-- panel-body -->
      </div> <!-- panel-primary -->
    </div>    <!-- col-md-8 -->
  </div>   <!-- row --> 
</div>   <!-- container -->   