<section id="home-filters"> 
  <div class="container-fluid pr-0">
   <div class="navbar p-7">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class=" p-7 hidden-xs hidden-sm col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt--14 img-logo"), root_url %>
        </div>
        <div class=" p-7 hidden-md hidden-lg col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt-0 img-logo"), root_url %>
        </div>
      </div>
      <div class="collapse navbar-collapse pr-21">
        <ul class="nav navbar-nav pull-right mt-14">
          <% if current_provider %>
            <li class="dropdown mt-7">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %></a>
              <ul class="dropdown-menu" id="dropdown-menu">
                <li><%= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger pl-14 pr-14 mb-14" %></li>
                <li><%= link_to 'Salir'.html_safe, salir_path, :method => :delete, class: "text-danger pl-56 pr-56" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7">
                <li class="list-group-item"><%= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to 'Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-sm hidden-xs mr-7">
            <%= link_to 'Iniciar sesión', new_providers_session_path, class: "not-underline log-in" %>
          </li>
          <li class="active hidden-sm hidden-xs">
            <%= link_to 'Ser cuidador', new_provider_path, class: "not-underline sign-up" %>
          </li>
          <li class="hidden-lg hidden-md">
            <%= form_tag providers_sessions_path, :class => "form-inline mb-0 user-login-header-form" do %>
            <div class="form-group mr-7">
              <label class="hidden-lg hidden-md hidden-sm text-muted">Ingreso de proveedores</label>
              <%= email_field_tag :email, params[:email], :autofocus => true, :class => "form-control input-sm", :placeholder => "Correo electrónico" %>
            </div>
            <div class="form-group mr-7">
              <%= password_field_tag :password, nil, class: "form-control input-sm", :placeholder => "Contraseña" %>
            </div>
            <div class="form-group text-center">
              <%= submit_tag "Ingresa", id: "user_login_button", class: "btn btn-info btn-sm" %>
            </div>
          <% end %>
          </li>
          <% end %>   
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
   
    <div class="container-sm">
      <div class="row text-center text-white pt-70">
        <div class="col-md-12 col-xs-6">
          <h1 class="mb-14 thin xl">Viaja con tranquilidad dejando a tu mascota en buenas manos</h1>
          <a href="#Nea-sczW5kQ" class="btn-how btn sublime mt-56" data-youtube-id="Nea-sczW5kQ">
            Cómo funciona
          </a>
          <video id="Nea-sczW5kQ" width="640" height="360" style="display:none" data-uid="Nea-sczW5kQ" data-youtube-id="Nea-sczW5kQ" preload="none">
          </video>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-21">
      <div class="row bg-check">
        <div class="col-sm-2"></div>
        <div class="col-sm-9 col-xs-10">
          <h3 class="pl-14 text-white thin mv-7 text-bg-check">Busca cuidadores calificados que atiendan a tu mascota mientras estás de viaje</h3>
          <%= search_form_for @search do |f| %>
          <div class="row header-form">
            <div class="col-sm-3 col-xs-in">
              <% if session[:start_date].nil? %>
                <%= text_field_tag(:start_date, nil, class: 'datepicker input-lg form-control form-check', placeholder: 'DD/MM/AAAA') %>
              <% else %>
                <%= text_field_tag(:start_date, session[:start_date].strftime("%d/%m/%Y"), class: 'datepicker input-lg form-control form-check', placeholder: 'DD/MM/AAAA') %>
              <% end %>
            </div>
            <div class="col-sm-3 col-xs-out">
              <% if session[:end_date].nil? %>
                <%= text_field_tag(:end_date, nil, class: 'datepicker input-lg form-control form-check', placeholder: 'DD/MM/AAAA') %>
              <% else %>
                <%= text_field_tag(:end_date, session[:end_date].strftime("%d/%m/%Y"), class: 'datepicker input-lg form-control form-check', placeholder: 'DD/MM/AAAA') %>
              <% end %>
            </div>
            <div class="col-sm-3 locations-dd">
              <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name,{include_blank:"Elegir Municipio"}, {class:"input-lg borderless form-location-nav"} %> 
            </div>
            <div class="col-sm-3 search-btn">
              <%= f.submit "Buscar", class:"ml-21 borderless form-search" %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
</section>
<section id="home-pasos" class="text-center bg-muted">
  <div class="container text-center">
    <div class="row text-center p-28"><h1 class="light mt-7" id="text-gray">Beneficios</h1></div>
    <div class="row mb-35 pl-42 pr-56">
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-11.png', class: "mt--14") %>
        <h2 class="mt-28 light text-gray">Seguro</h2>
        <h4 id="text-gray" class="p-7 mt-0 light line-5 mb-21">Tu mascota contará con un seguro de salud durante toda su estadía.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-12.png', class: "mt--14") %>
        <h2 class="mt-28 light text-gray">Calidad</h2>
        <h4 id="text-gray" class="p-7 mt-0 light line-5 mb-21">Todos nuestros proveedores han sido previamente evaluados.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-13.png', class: "mt--14") %>
        <h2 class="mt-28 light text-gray">Fotos</h2>
        <h4 id="text-gray" class="p-7 mt-0 light line-5 mb-21">Recibe fotos diarias de tu mascota para mantenerte cerca e informado.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-14.png', class: "mt--14") %>
        <h2 class="mt-28 light text-gray">Atención</h2>
        <h4 id="text-gray" class="p-7 mt-0 light line-5 mb-21">Ofrecemos atención 24/7 para atender a tu mascota a cualquier hora mientras tú estás fuera.</h4>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Place somewhere in the <body> of your page -->
  <div class="container-fluid hidden-xs pasador pb-56 hidden-sm">
    <div class="row">
      <div class="flexslider m-0">
        <ul class="slides">
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('dog-lover1.jpg', class: "img-circle") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>
              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-white light lead">El servicio fue magnifico y regresaron sanos y salvos mis perritos en especial Odin.</p>
                <h3 id="text-white"id="text-yellow" class="light">Victor Villegas</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('camacho.jpg', class: "img-circle") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>
              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-white light lead">Confié plenamente en los cuidados de <a href="http://www.twitter.com/KmimosMx">@KmimosMx</a> y no me arrepentí. Lo recomiendo 100%.</p>
                <h3 id="text-white" class="light">Vicente Leyba</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('giovanni.jpg', class: "img-circle") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>

              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-white light lead">Bruno siempre regresa feliz y tranquilo, siempre que nos vamos de viaje se que lo dejo en buenas manos.</p>
                <h3 id="text-white" class="light">Giovanni Ciullo</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
        </ul>
      </div>   
    </div>
  </div>
</section>

<section id="recomendar" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-28">
        <div class="text-white text-right dsct mt-56 mr-70 text-recomendar">
          <h2 class="text-white mt-7 fz-50 mb-0">Recomiéndanos</h2>
          <h4 class="light mb-0 fz-30 mt-0">y tendrás</h4>
          <h1 class="dsct-10 mb-0 mt-0">25%</h1>
          <h3 class="thin mt-0 mb-0 fz-40">descuento</h3>
          <div class="separator-gray separator-lg pull-right"></div><br>
          <h4 class="light fz-30">en tu siguiente reserva</h4>
        </div>
        
        <div class="row text-right mr-70">
          <%# Added Bootstrap data modal attribute %>
          <%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
          <div class="modal fade" id="new_code_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title text-left" id="myModalLabel"><strong>Recomiéndanos y obtén 25% de descuento en tu siguiente reserva.</strong></h4>
                </div>
                <div class="modal-body">
                  <%# Render the new person form (passing modal => true to enable remote => true) %>
                  <%= render 'referrals/form', modal: true %>
                </div>
                <div id="referrals_table">

                      <%# Render table row partial for each referral object %>
                      <%= render partial: 'referrals/table_row', locals: {referral: @referral} %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <nav>
           
            <%= link_to 'Recomendar', '#new_code_modal', 'data-toggle' => 'modal', :class => "mt-28 btn btn-lg text-white light", :id => "btn-recomendar", :onClick=>"_gaq.push(['_trackEvent', 'Homepage', 'Recomendar-modal-trigger']);"  %>
          </nav>
        </div>  
      </div>
    </div>
  </div>
</section>


