<section id="home-filters"> 
  <div class="container-fluid p-14">
   <div class="navbar p-7">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class=" p-7 hidden-xs hidden-sm col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt--14"), root_url %>
        </div>
        <div class=" p-7 hidden-md hidden-lg col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt-0"), root_url %>
        </div>
      </div>
      <div class="collapse navbar-collapse pr-21">
        <ul class="nav navbar-nav pull-right mt-14">
          <% if current_provider %>
            <li class="dropdown mt-7">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %> <i class="fa-caret-down"></i></a>
              <ul class="dropdown-menu" id="dropdown-menu">
                <li><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger" %></li>
                <li><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7">
                <li class="list-group-item"><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-sm hidden-xs mr-7">
           <%= link_to 'INICIAR SESIÓN', new_providers_session_path, class: "not-underline log-in" %>
          </li>
          <li class="active hidden-sm hidden-xs">
           <%= link_to 'SER CUIDADOR', new_provider_path, class: "not-underline" %>
          </li>
          <li class="hidden-lg hidden-md">
            <%= form_tag providers_sessions_path, :class => "form-inline mb-0 user-login-header-form" do %>
            <div class="form-group mr-7">
              <label class="hidden-lg hidden-md hidden-sm text-muted">Ingreso de proveedores</label>
              <%= email_field_tag :email, params[:email], :autofocus => true, :class => "form-control input-sm", :placeholder => "Correo electrónico" %>
            </div>
            <div class="form-group mr-7">
              <%= password_field_tag :password, nil, class: "form-control input-sm", :placeholder => "Contraseña" %>
            </div>
            <div class="form-group text-center">
              <%= submit_tag "Ingresa", id: "user_login_button", class: "btn btn-info btn-sm" %>
            </div>
          <% end %>
          </li>
          <% end %>   
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <%= render "layouts/flash_alerts" %>
    <div class="container-sm">
      <div class="row text-center text-white mt-70 pt-70">
        <h1 class="text-h1 mb-0">Deja a tu mascota en buenas manos</h1>
        <h4 class="text-h3 lead mt-0">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit dolorem ipsum</h4>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row bg-check">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <%= search_form_for @search do |f| %>
          <div class="row header-form">
            <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name,{include_blank:"Elegir Municipio"}, {class:"borderless form-location-nav"} %> 
     
            
            <div class="col-sm-3">
              <%= text_field_tag(:start_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag(:end_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <%= f.submit "Buscar", class:"ml-7 lead borderless form-search" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
</section>
<section id="home-pasos" class="text-center bg-muted">
  <div class="container text-center">
    <div class="row text-center p-28"><h1 class="light text-h1" id="text-gray">Beneficios</h1></div>
    <div class="row mb-35">
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-11.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Seguro</h2>
        <h4 id="text-gray" class="p-21 light">Selecciona el servicio que necesitas y elige entre la lista de proveedores calificados.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-12.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Revisión</h2>
        <h4 id="text-gray" class="p-21 light">Contrata al proveedor <br> que más se ajusta a tus necesidades.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-13.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Fotos</h2>
        <h4 id="text-gray" class="p-21 light">Asígnale un puntaje al proveedor de acuerdo a la calidad del servicio brindado.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-14.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Atención 24/7</h2>
        <h4 id="text-gray" class="p-21 light">Asígnale un puntaje al proveedor de acuerdo a la calidad del servicio brindado.</h4>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Place somewhere in the <body> of your page -->
  <div class="container-fluid hidden-xs pasador pb-56 hidden-sm">
    <div class="row">
      <div class="flexslider m-0">
        <ul class="slides">
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('dog-lover1.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>
              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-muted light lead">
                  In convallis fringilla urna vel tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia vitae elementum tortor, laoreet lacinia augue aptent taciti sociosqu lorem.</p>
                <h3 id="text-white"id="text-yellow" class="light">Antonio Cáceres</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('dog-lover2.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>
              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-muted light lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae mauris diam. Fusce auctor risus mollis. Suspendisse a felis non est fringilla porttitor in a aptent taciti sociosqu.</p>
                <h3 id="text-white" class="light">Cesar Mejía</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
          <li>
            <div class="row ml-0 mr-0">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic mt-56 mb-21">
                 <%=image_tag('dog_lover3.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row ml-0 mr-0">
              <div class="col-md-3">
                <%=image_tag('site_kmimos-13.png', class: "img-comillas-1") %>

              </div>
              <div class="col-md-6 server-desc text-center"><hr>
                <p class="text-muted light lead">Nulla sed pellentesque felis. Etiam in est dolor. Nunc malesuada, risus in tincidunt dictum, ligula nibh aliquet justo, eu eleifend dolor sapien at turpis aptent taciti sociosqu.</p>
                <h3 id="text-white" class="light">Martha López</h3>
                <hr>
              </div>
              <div class="col-md-3">
                <%=image_tag('site_kmimos-14.png', class: "img-comillas-2") %>
              </div>
            </div>
          </li>
        </ul>
      </div>   
    </div>
  </div>
</section>

<section id="recomendar" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-28">
        <div class="text-white text-right dsct mt-56 mr-70">
          <h2 class="text-white mt-7 fz-50 mb-0">Recomiéndanos</h2>
          <h4 class="light mb-0 fz-30 mt-0">y tendrás</h4>
          <h1 class="dsct-10 mb-0 mt-0">10%</h1>
          <h3 class="thin mt-0 fz-40"><u>descuento</u></h3>
          <h4 class="light fz-30">en tu siguiente reserva</h4>
        </div>
        
        <div class="row text-right mr-70">
          <nav>
            <% unless current_provider %>
            <%= link_to 'RECOMENDAR', providers_path, :class => "mt-28 btn btn-lg text-white light", :id => "btn-recomendar", :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Home', 'BuscarAqui']);" %>
            <% end %>  
          </nav>
        </div>  
      </div>
    </div>
  </div>
</section>

<%= render "layouts/modal" %>