
.site-wrapper 
  %main#scene.site-content{:role => "main"}
    %img.fixed-ball(src="assets/pelota.svg")
    .row.bg-img-block.home-bkg.no-margin-row{style: "background-image: url('assets/home-background.svg')"}
      %header.site-menu
        #menu-vistas.vistas.hidden-xs.container-fluid.text-center 
          .header-center.col-md-4.text-right.pull-right 
            .collapse.navbar-collapse.pr-21
              %ul.nav.navbar-nav.mt-14
                - if current_provider
                  %li.dropdown.mt-7.size-responsive
                    %a.dropdown-toggle.text-muted{"data-toggle" => "dropdown", :href => "#"}
                      Hola, #{current_provider.name}
                    %ul#dropdown-menu.dropdown-menu
                      %li= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger pl-14 pr-14 mb-14"
                      %li= link_to 'Salir'.html_safe, destroy_provider_session_path, :method => :delete, class: "text-danger pl-56 pr-56"
                  %li.hidden-lg.hidden-md
                    %ul.list-group.m-0.pt-7.pl-0.list-movil-header
                      %li.hidden-lg.hidden-md.hidden-sm.li-first
                        = link_to 'Home', root_url, class: "not-underline log-in"
                      %li.hidden-lg.hidden-md.hidden-sm
                        = link_to 'Reservar', providers_path, class: "not-underline log-in"
                      %li.list-group-item= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider)
                      %li.list-group-item= link_to 'Salir'.html_safe, destroy_provider_session_path, :method => :delete, class: "text-danger"
                - elsif current_user
                  %li.dropdown.mt-7.size-responsive
                    %a.dropdown-toggle.text-muted{"data-toggle" => "dropdown", :href => "#"}
                      Hola, #{current_user.first_name }
                    %ul#dropdown-menu.dropdown-menu
                      %li= link_to 'Actualizar mi perfil'.html_safe, user_path(current_user), class: "text-danger pl-14 pr-14 mb-14"
                      %li= link_to 'Salir'.html_safe, destroy_user_session_path, :method => :delete, class: "text-danger pl-56 pr-56"
                  %li.hidden-lg.hidden-md
                    %ul.list-group.m-0.pt-7.pl-0.list-movil-header
                      %li.hidden-lg.hidden-md.hidden-sm.li-first
                        = link_to 'Home', root_url, class: "not-underline log-in"
                      %li.hidden-lg.hidden-md.hidden-sm
                        = link_to 'Reservar', providers_path, class: "not-underline log-in"
                      %li.list-group-item= link_to 'Actualizar mi perfil'.html_safe, user_path(current_user)
                      %li.list-group-item= link_to 'Salir'.html_safe, destroy_user_session_path, :method => :delete, class: "text-danger"
                - else
                  %li
                    .dropdown
                      %a.dropdown-toggle.text-header.btn.pv-7(data-toggle="dropdown")
                        %span.h5.book.pr-14.ls-md Iniciar Sesión
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => new_user_session_path}
                            %span.h5.btn Iniciar sesión como Usuario
                        %li
                          %a{:href => new_provider_session_path}
                            %span.h5.btn Iniciar sesión como Cuidador
                        
                  %li.active 
                    = link_to 'Ser cuidador', new_provider_registration_path, class: "not-underline sign-up"
                  %li.active 
                    = link_to 'Registrarme', new_user_registration_path, class: "not-underline sign-up"
      .home-scene
        %img.left-person(src="assets/home-duena-without_ball.svg") 
        .right-dogs
          %img(src="assets/home-perro-vainilla.svg")
          %img(src="assets/home-perro-bull-terrier.svg")
      .row.mb-56
        .col-md-offset-3.col-sm-6.text-center
          %img.pt-7.img-home{:src => "assets/logo-kmimos-blanco-04.png", :width => "220"}/
          %p.h3.text-white.mv-35.lh-xl.bold.text-responsive
            Viaja con tranquilidad, dejando a tu
            %br/
            mascota en buenas manos.
          .main-video
            .video-screen
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/_08UJ0aYDCk?rel=0&controls=0&showinfo=0", :width => "560"} 
    .row.mb-56#beneficios
      .container-sm.pv-42 
        .row.text-center.mt-49
          %h1.bold.pb-42.text-gray-dark.mt-56 Beneficios
          .col-md-3
            %img.img-circle{:alt => "", :src => "assets/beneficios-seguro-salud.svg", :width => "100"}/
            %h4.light.text-gray Seguro de salud para tu mascota
          .col-md-3
            %img.img-circle{:alt => "", :src => "assets/beneficios-cuidadores-especializados.svg", :width => "100"}/
            %h4.light.text-gray Cuidadores especializados y evaluados
          .col-md-3
            %img.img-circle{:alt => "", :src => "assets/beneficios-fotos.svg", :width => "100"}/
            %h4.light.text-gray Recibe fotos del estado de tu perrito
          .col-md-3
            %img.img-circle{:alt => "", :src => "assets/beneficios-atencion24_7.svg", :width => "100"}/
            %h4.light.text-gray Atención 24/7 para tu mascota
        .text-center.mt-35
          %a.btn.btn-outline.btn-default.ph-35{:href => "/beneficios"}
            %h4.book.text-primary.m-0 Leer más
        .text-center.pt-42
          %img{:alt => "", :src => "assets/scrolldown.svg"}/
    .row.mb-56#testimonios{style: "background-image: url('assets/home-testimonios-background.svg')"}
      .container-sm.pv-42
        %h1.bold.pb-42.text-gray-dark.text-center.pt-56 Testimonios
        .row
          .col-md-7 
            .triangle-left
              .col-md-2.pl-0
                %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
              .col-md-10.pl-0
                %h4.text-gray-dark.medium.mt-14 Confié plenamente en los cuidados de @KmimosMx y no me arrepentí. Lo recomiendo 100%.
        .row
          .col-md-5.pl-70
            %img.img-circle.img-responsive{:alt => "", :src => "assets/test_1.jpg", :width => "120"}/
            %h4.bold.text-success.mt-14 Vicente Leyba
          .col-md-7 
            .triangle-right
              .col-md-2.pl-0
                %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
              .col-md-10.pl-0
                %h4.text-gray-dark.medium.mt-14 Bruno siempre regresa feliz y tranquilo, siempre que nos vamos de viaje se que lo dejo en buenas manos.
        .row
          .col-md-7 
            .triangle-left
              .col-md-2.pl-0
                %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
              .col-md-10.pl-0
                %h4.text-gray-dark.medium.mt-14 El servicio fue magnifico y regresaron sanos y salvos mis perritos en especial Odin.
          .col-md-5.pl-70
            %img.img-circle.img-responsive{:alt => "", :src => "assets/test_2.jpg", :width => "120"}/
            %h4.bold.text-success.mt-14 Giovanni Ciullo
        .row
          .col-md-5.pl-70
            %img.img-circle.img-responsive{:alt => "", :src => "assets/test_3.jpg", :width => "120"}/
            %h4.bold.text-success.mt-14 Victor Villegas
        %img{ style: "float: right;" }(src = "assets/testimoniales-perro-vainilla.svg")
        
        .text-center.pt-42 
    .row.mb-35#cuidadores-semana
      %img{ style: "float: right; padding-top: 120px;" }(src = "assets/cuidadores-mes-perro-vainilla.svg")
      .container-sm.pv-42
        %h1.bold.pb-42.text-gray-dark.text-center Cuidadores del mes 
        .row
          - Provider.on_top_providers(3).each do |provider|
            .col-md-4
              .bg-img-block.border-radius.square-green.mt-7{:style => " background-image: url(#{provider.avatar.url});"}
                #a.oculto.text-center.pt-21
                  %img{:alt => "", :src => "assets/icono-huella-hover.svg", :width => "70"}/
                  %h4.bold.text-center.mv-7.text-white= provider
                  .rating-reviews.pl-14.mt-7  
                  
    .row.pb-56#recomendacion.bg-primary{style: "background-image: url(assets/home-descuento-background.svg);"} 
      .container.pv-42
        .row
          .col-md-7
            %img.mt-28{ style: "float: left; margin-left: 100px; margin-top: 200px !important;" }(src = "assets/home-dueno-perro-descuento_2.svg") 
          .col-md-4.mt-63
            .recomendation
              %img(src="assets/10descuento.svg")
              %h3.bold.mb-0
                Al recomendar nuestros servicios a otra persona 
              %p.light.m-0 Completa los siguientes datos y recibiras un cupon de 10% de descuento que se activara al momento de tu reserva. 
              %br
              Guarda tu código y escríbela en tu reserva
              - if false
                %form.form-horizontal
                  .form-group
                    %input.form-control(placeholder="Nombre")
                  .form-group
                    %input.form-control(placeholder="Correo")
                  .form-group
                    %input.form-control(placeholder="Nombre de Persona a Recomendar")
                  .form-group
                    %input.form-control(placeholder="Correo de Persona a Recomendar")
                %a.btn.btn-primary-lighter.btn.mt-35.mb-21.pv-7{:href => "#"}
                  %h4.bold.text-success.mv-0.ph-35 Recomendar
