#mobile-wrapper.container-fluid.no-padding-margin
  / .pop-up.hidden
  /   %span.h1.text-white.close-popup X
  /   .main-video-responsive.text-center
  /     #video
        
  .row.provider-home
    .col-md-12.home-bkg.p-21
      .c-hamburger.c-hamburger--htra.c-menu
        %span
      %center.mt-56
        %img.mb-21.pt-7.img-home{:src => "assets/logo-kmimos.svg", :width => "220"}
        %br
      .text-center
        .h3.text-white.lh-xl.bold.text-responsive
          Déjalo en casa de tu cuidador de confianza, para que lo consientan como en su propio hogar !
        / %a.btn.not-underline.sign-up.text-gray-darker ¿Cómo Funciona?
        .text-center
          #video
      =image_tag('home-duena-without_ball.svg', class: "left-person")
      .right-dogs
        =image_tag("home-perro-bull-terrier.svg", class: "perro-bull-terrier")
        =image_tag("home-perro-vainilla.svg", class: "perro-vainilla")



  .row.mb-56#beneficios
    .pv-42
      .row.text-center
        %h1.bold.pb-42.text-gray-dark.mt-56 Beneficios
        .col-md-3
          %img.img-circle{:alt => "", :src => "assets/beneficios-seguro-salud.svg", :width => "100"}/
          %h4.light.text-gray 
            = Benefit.find(1).title
        .col-md-3
          %img.img-circle{:alt => "", :src => "assets/beneficios-cuidadores-especializados.svg", :width => "100"}/
          %h4.light.text-gray 
            = Benefit.find(2).title
        .col-md-3
          %img.img-circle{:alt => "", :src => "assets/beneficios-fotos.svg", :width => "100"}/
          %h4.light.text-gray 
            = Benefit.find(3).title
        .col-md-3
          %img.img-circle{:alt => "", :src => "assets/beneficios-atencion24_7.svg", :width => "100"}/
          %h4.light.text-gray
            = Benefit.find(4).title
      .text-center.mt-35
        %a.btn.btn-outline.btn-default.ph-35{:href => "/beneficios"}
          %h4.book.text-primary.m-0 Leer más

  .row.mb-56#testimonios{style: "background-image: url('assets/home-testimonios-background.svg')"}
    .pv-42
      %h1.bold.pb-42.text-gray-dark.text-center.pt-56 Testimonios
      .testimonies
        .testimony
          .row.mt-35
            .col-xs-12
              .triangle-left
                .col-md-2.pl-0
                  %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
                .col-md-10.pl-0
                  %h4.text-gray-dark.medium.mt-14 Confié plenamente en los cuidados de @KmimosMx y no me arrepentí. Lo recomiendo 100%.
          .row
            .col-xs-12
              %center
                %img.img-circle.img-responsive{:alt => "", :src => "assets/test_1.jpg", :width => "160"}/
                %h4.bold.text-success.mt-14.text-white Vicente Leyba
        .testimony
          .row.mt-35
            .col-xs-12
              .triangle-left
                .col-md-2.pl-0
                  %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
                .col-md-10.pl-0
                  %h4.text-gray-dark.medium.mt-14 Bruno siempre regresa feliz y tranquilo, siempre que nos vamos de viaje se que lo dejo en buenas manos.
          .row
            .col-xs-12
              %center
                %img.img-circle.img-responsive{:alt => "", :src => "assets/test_2.jpg", :width => "160"}/
                %h4.bold.text-success.mt-14.text-white Giovanni Ciullo
        .testimony
          .row.mt-35
            .col-xs-12
              .triangle-left
                .col-md-2.pl-0
                  %img{:alt => "", :src => "assets/testimonios-comillas.svg"}/
                .col-md-10.pl-0
                  %h4.text-gray-dark.medium.mt-14 El servicio fue magnifico y regresaron sanos y salvos mis perritos en especial Odin.
          .row
            .col-xs-12
              %center
                %img.img-circle.img-responsive{:alt => "", :src => "assets/test_3.jpg", :width => "160"}/
                %h4.bold.text-success.mt-14.text-white Victor Villegas
    %center
      %img{:alt => "", :src => "assets/testimoniales-perro-vainilla.svg"}/
  .row.mb-35#cuidadores-semana
    %h1.bold.pb-42.text-gray-dark.text-center Cuidadores del mes
    
    .row
      - Provider.on_top_providers(3).each do |provider|
        %a.col-md-4.providers-month{href: provider_path(provider.id)}
          .bg-img-block.border-radius.square-green.mt-7{:style => " background-image: url(#{provider.avatar.url});"}
            #a.oculto.text-center.pt-21 
        %center
          %h4.bold.text-center.mv-7= provider
          - val = Valuation.by_comments(provider.id)
          - score = val.map{|val| val[1]}.reduce(:+).to_i / val.size.to_i rescue 0
          .ratingStars{score: score, readOnly: true}
          %br
          %br
          %img{:alt => "", :src => "assets/cuidadores-mes-perro-vainilla.svg"}/

- if Rails.env.production?
  :javascript
    mixpanel.track('Ingresó a la página de #{@country.name} ');          

:javascript

  $('.sign-up').on('click', function(){
    $('.pop-up').removeClass('hidden');
  });
  
  $('.close-popup').on('click', function(){
    $('.pop-up').addClass('hidden');
  });

  $('.testimonies').slick({
    autoplay: true, 
    autoplaySpeed: 2000,
    arrows: false,
    infinite: true,
    mobileFirst: true
  });
  
  $('.providers-month').slick({
    autoplay: true, 
    autoplaySpeed: 2000,
    arrows: false,
    infinite: true,
    mobileFirst: true
  });

  initPlayer('homePlayer', 'video');
