<section id="home-filters"> 
  <div class="container-fluid p-14">
   <div class="navbar p-7">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class=" p-7 hidden-xs hidden-sm col-xs-4">
          <%= link_to image_tag('site-kmimos-12.png', class: "mt--14"), root_url %>
        </div>
        <div class=" p-7 hidden-md hidden-lg col-xs-4">
          <%= link_to image_tag('site-kmimos-12.png', class: "mt-0"), root_url %>
        </div>
      </div>
      <div class="collapse navbar-collapse pr-63 mr-42">
        <ul class="nav navbar-nav pull-right">
          <% if current_provider %>
            <li class="dropdown mt-7">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %> <i class="fa-caret-down"></i></a>
              <ul class="dropdown-menu" id="dropdown-menu">
                <li><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger" %></li>
                <li><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7">
                <li class="list-group-item"><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-sm hidden-xs">
           <%= link_to 'Ingresa a tu cuenta'.html_safe, new_providers_session_path, class: "not-underline" %>
          </li>
          <li class="hidden-lg hidden-md">
            <%= form_tag providers_sessions_path, :class => "form-inline mb-0 user-login-header-form" do %>
            <div class="form-group mr-7">
              <label class="hidden-lg hidden-md hidden-sm text-muted">Ingreso de proveedores</label>
              <%= email_field_tag :email, params[:email], :autofocus => true, :class => "form-control input-sm", :placeholder => "Correo electrónico" %>
            </div>
            <div class="form-group mr-7">
              <%= password_field_tag :password, nil, class: "form-control input-sm", :placeholder => "Contraseña" %>
            </div>
            <div class="form-group text-center">
              <%= submit_tag "Ingresa", id: "user_login_button", class: "btn btn-info-grad btn-sm" %>
            </div>
          <% end %>
          </li>
          <% end %>   
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-3 col-sm-4">
        <div class="opciones mt-7 mb-42 p-21">
          <div class="row">
            <div class="text col-md-12 text-center">
              <h3 class="light hidden-sm hidden-xs mt-7">Consiente a tu mascota</h3>
              <h3 class="light hidden-md hidden-lg mt-7">Consiente a tu mascota</h3>
              <h5 class="text-gray pb-14 light">Conéctate con gente de confianza para consentir a tu mascota como se merece.</h5>
            </div>
          </div>
          <div class="servicios row text-center">
            <div class="col-md-6 p-0">
              <%= link_to(category_path(Category.find_by(name: "Veterinario"))) do %>
                <%= image_tag("site-kmimos-05.png", :class => "" ) %>
                <div class="overlay">
                </div>
              <% end %>
            </div>
            <div class="col-md-6 p-0">
              <%= link_to(category_path(Category.find_by(name: "Paseador"))) do %>
                <%= image_tag("site-kmimos-07.png", :class => "" ) %>
                <div class="overlay">
                </div>
              <% end %>
            </div>
          </div>
          <div class="servicios row text-center mt-14">
            <div class="col-md-6 p-0">
              <%= link_to(category_path(Category.find_by(name: "Hotel"))) do %>
                <%= image_tag("site-kmimos-06.png", :class => "" ) %>
                <div class="overlay">
                </div>
              <% end %>
            </div>
            <div class="col-md-6 p-0">
              <%= link_to(category_path(Category.find_by(name: "Entrenador"))) do %>
                <%= image_tag("site-kmimos-08.png", :class => "" ) %>
                <div class="overlay">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-pasos" class="text-center bg-muted">
  <div class="container text-center">
    <div class="row text-center text-primary p-28"><h2 class="light">¿Cómo funciona?</h2></div>
    <div class="row mb-35">
      <div class="col-md-4 text-center">
        <%=image_tag('site-kmimos-09.png', class: "mt--14") %>
        <h3 class="mt-35 light text-gray">1. Elige</h3>
        <h5 id="text-gray" class="p-21 light  ">Selecciona el servicio que necesitas y elige entre la lista de proveedores calificados.</h5>
      </div>
      <div class="col-md-4 text-center">
        <%=image_tag('site-kmimos-10.png', class: "mt--14") %>
        <h3 class="mt-35 light text-gray">2. Contrata</h3>
        <h5 id="text-gray" class="p-21 light ">Contrata al proveedor <br> que más se ajusta a tus necesidades.</h5>
      </div>
      <div class="col-md-4 text-center">
        <%=image_tag('site-kmimos-11.png', class: "mt--14") %>
        <h3 class="mt-35 light text-gray">3. Evalúa</h3>
        <h5 id="text-gray" class="p-21 light">Asígnale un puntaje al proveedor de acuerdo a la calidad del servicio brindado.</h5>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Place somewhere in the <body> of your page -->
  <div class="container-fluid hidden-xs hidden-sm ">
    <div class="row">
      <div class="flexslider m-0">
        <ul class="slides">
          <li>
            <%=image_tag('bg-kmimos.jpg', class: "img-responsive") %>
            <div class="carousel-caption col-xs-8">
              <div class="row text-center"><h3 class="light">Nuestros servers destacados.</h3></div>
              <div class="col-md-4 col-xs-5 m-21">
                <%=image_tag('gabriel_garduno.jpg', class: "img-circle img-responsive") %>
              </div>
              <div class="col-md-6 col-md-4 text-justify m-21">
                <h3 id="text-yellow" class="light">Gabriel Garduño </h3>
                <p class="light">Entrenador profesional, ofrezco hospedaje para tus mascotas, las paseamos las buscamos en tu domicilio para que se diviertan !!  ATIENDO EN TODO EL DF</p>
                <%= link_to "Contactar".html_safe, @provider_a, remote: true, :class => "btn btn-sm h5", :onclick=>"ga('send', 'event', 'contactar', #{@provider_a.id}');" %>
              </div>
            </div>
          </li>
          <li>
            <%=image_tag('bg-kmimos.jpg', class: "img-responsive") %>
            <div class="carousel-caption col-xs-8">
              <div class="row text-center"><h3 class="light">Nuestros servers destacados.</h3></div>
              <div class="col-md-4 col-xs-5 m-21">
                <%=image_tag('juan-camacho.jpg', class: "img-circle img-responsive") %>
              </div>
              <div class="col-md-6 col-md-4 text-justify m-21">
                <h3 id="text-yellow" class="light">Juan Camacho</h3>
                <p class="light">Consentimos y cuaidamos a tus mascotas en: Hospedaje y pension campestre;  Hotel citadino; Hotel hogareño.   Entrenamos a tus mascotas, básico, avanzado y corrección de malos hábitos.  Tenemos estética, y buscamos a tus mascotas en todo el DF y EDO de MEXICO.</p>
                <%= link_to "Contactar".html_safe, @provider_b, remote: true, :class => "btn btn-sm h5", :onclick=>"ga('send', 'event', 'contactar', #{@provider_b.id}');" %>
              </div>
            </div>
          </li>
          <li>
            <%=image_tag('bg-kmimos.jpg', class: "img-responsive") %>
            <div class="carousel-caption col-xs-8">
              <div class="row text-center"><h3 class="light">Nuestros servers destacados.</h3></div>
              <div class="col-md-4 col-xs-5 m-21">
                <%=image_tag('jorge-morales.jpg', class: "img-circle img-responsive") %>
              </div>
              <div class="col-md-6 col-md-4 text-justify m-21">
                <h3 id="text-yellow" class="light">Jorge Bello</h3>                <p class="light">Nos encanta consentir a tus mascotas, las buscamos en tu casa, paseamos,entrenamos y si quieres un hospedaje con mucho cariño búscame para hacerlas sentir como en casa.  ATIENDO EN TODO EL DF</p>
                <%= link_to "Contactar".html_safe, @provider_c, remote: true, :class => "btn btn-sm h5", :onclick=>"ga('send', 'event', 'contactar', #{@provider_c.id}');" %>
              </div>
            </div>
          </li>
        </ul>
      </div>   
    </div>
  </div>
</section>

<section id="listo" class="mt-7 mb-21">
  <div class="container mb-21 mt-21">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-28">
        <h3 class="text-secondary text-center mt-7 light">¿Que esperas para consentir a tu mascota?</h3>
        <div class="row text-center">
          <nav>
            <% unless current_provider %>
             <%= link_to 'buscar aquí', providers_path, :class => "btn btn-lg btn-secondary", :id => "btn-search" %>
            <% end %>  
          </nav>
        </div>  
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

<%= render "layouts/modal" %>