<section id="home-filters"> 
  <div class="container-fluid p-14">
   <div class="navbar p-7">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class=" p-7 hidden-xs hidden-sm col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt--14"), root_url %>
        </div>
        <div class=" p-7 hidden-md hidden-lg col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt-0"), root_url %>
        </div>
      </div>
      <div class="collapse navbar-collapse pr-21">
        <ul class="nav navbar-nav pull-right mt-14">
          <% if current_provider %>
            <li class="dropdown mt-7">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %> <i class="fa-caret-down"></i></a>
              <ul class="dropdown-menu" id="dropdown-menu">
                <li><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger" %></li>
                <li><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7">
                <li class="list-group-item"><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-sm hidden-xs mr-7">
           <%= link_to 'INICIAR SESIÓN', new_providers_session_path, class: "not-underline log-in" %>
          </li>
          <li class="active hidden-sm hidden-xs">
           <%= link_to 'SER CUIDADOR', new_provider_path, class: "not-underline" %>
          </li>
          <li class="hidden-lg hidden-md">
            <%= form_tag providers_sessions_path, :class => "form-inline mb-0 user-login-header-form" do %>
            <div class="form-group mr-7">
              <label class="hidden-lg hidden-md hidden-sm text-muted">Ingreso de proveedores</label>
              <%= email_field_tag :email, params[:email], :autofocus => true, :class => "form-control input-sm", :placeholder => "Correo electrónico" %>
            </div>
            <div class="form-group mr-7">
              <%= password_field_tag :password, nil, class: "form-control input-sm", :placeholder => "Contraseña" %>
            </div>
            <div class="form-group text-center">
              <%= submit_tag "Ingresa", id: "user_login_button", class: "btn btn-info btn-sm" %>
            </div>
          <% end %>
          </li>
          <% end %>   
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <%= render "layouts/flash_alerts" %>
    <div class="container-sm">
      <div class="row text-center text-white mt-70">
        <h1 class="text-h1">Deja a tu mascota en buenas manos</h1>
        <h4 class="text-h3 lead">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit dolorem ipsum</h4>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row bg-check">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <%= form_tag("/providers", method: "get") do %>
          <div class="row">
            <div class="col-sm-3">
              <%= text_field_tag(:start_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag(:end_date, nil, class: 'datepicker form-control form-check', placeholder: 'DD/MM/AAAA') %>
            </div>
            <div class="col-sm-3">
              <%= search_form_for @search do |f| %>
                <%= f.label :locations_id_eq, "Municipio:" %>
                <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name, {include_blank: "Todos"}, {class:"borderless form-location-nav"} %> 
                <%= f.submit "Buscar", class:"ml-14 mt-7 borderless form-search" %>
                <%= text_field_tag(:start_date, nil, class: 'datepicker form-control', placeholder: 'DD/MM/AAAA') %>
                <%= text_field_tag(:end_date, nil, class: 'datepicker form-control', placeholder: 'DD/MM/AAAA') %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
</section>
<section id="home-pasos" class="text-center bg-muted">
  <div class="container text-center">
    <div class="row text-center p-28"><h1 class="light text-h1" id="text-gray">Beneficios</h1></div>
    <div class="row mb-35">
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-11.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Seguro</h2>
        <h4 id="text-gray" class="p-21 light">Selecciona el servicio que necesitas y elige entre la lista de proveedores calificados.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-12.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Revisión</h2>
        <h4 id="text-gray" class="p-21 light">Contrata al proveedor <br> que más se ajusta a tus necesidades.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-13.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Fotos</h2>
        <h4 id="text-gray" class="p-21 light">Asígnale un puntaje al proveedor de acuerdo a la calidad del servicio brindado.</h4>
      </div>
      <div class="col-md-3 text-center">
        <%=image_tag('site-kmimos-flat-14.png', class: "mt--14") %>
        <h2 class="mt-35 light text-gray">Atención 24/7</h2>
        <h4 id="text-gray" class="p-21 light">Asígnale un puntaje al proveedor de acuerdo a la calidad del servicio brindado.</h4>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Place somewhere in the <body> of your page -->
  <div class="container-fluid hidden-xs pasador pb-21 hidden-sm">
    <div class="row">
      <div class="flexslider m-0">
        <ul class="slides">
          <li>
            <div class="row">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic m-21">
                <%=image_tag('gabriel_garduno.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 server-desc text-center"><hr>
                <p class="text-muted light lead">Entrenador profesional, ofrezco hospedaje para tus mascotas, las paseamos las buscamos en tu domicilio para que se diviertan !!  ATIENDO EN TODO EL DF</p>
                <h3 id="text-yellow" class="light">Gabriel Garduño </h3>
                <hr>
              </div>
              <div class="col-md-4"></div>
            </div>
          </li>
          <li>
            <div class="row">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic m-21">
                <%=image_tag('gabriel_garduno.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 server-desc text-center"><hr>
                <p class="text-muted light lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae mauris diam. Fusce auctor risus non eros facilisis mollis. Suspendisse potenti. Suspendisse a felis non est fringilla porttitor in a</p>
                <h3 id="text-white" class="light">Gabriel Garduño </h3>
                <hr>
              </div>
              <div class="col-md-4"></div>
            </div>
          </li>
          <li>
            <div class="row">
               <div class="col-md-4"></div>
               <div class="col-md-4 server-pic m-21">
                <%=image_tag('gabriel_garduno.jpg', class: "img-circle img-responsive") %>
               </div>
               <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 server-desc text-center"><hr>
                <p class="text-muted light lead">Entrenador profesional, ofrezco hospedaje para tus mascotas, las paseamos las buscamos en tu domicilio para que se diviertan !!  ATIENDO EN TODO EL DF</p>
                <h3 id="text-yellow" class="light">Gabriel Garduño </h3>
                <hr>
              </div>
              <div class="col-md-4"></div>
            </div>
          </li>
        </ul>
      </div>   
    </div>
  </div>
</section>

<section id="recomendar" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 m-28">
        <h3 class="text-secondary text-center mt-7 light">¿Que esperas para consentir a tu mascota?</h3>
        <div class="row text-center">
          <nav>
            <% unless current_provider %>
             <%= link_to 'buscar aquí', providers_path, :class => "btn btn-lg text-muted", :id => "btn-search", :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Home', 'BuscarAqui']);" %>
            <% end %>  
          </nav>
        </div>  
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

<%= render "layouts/modal" %>