%center
  %h1 Cuidadores Sugeridos
  %br
%div

  - Provider.all.each do |provider|
    %br
    .provider-item
      .block-cuidadores
        %a(href="/providers/#{provider.id}" ng-)
          .bg-gray-lighter.p-14
            .body.border-bottom.body-provider
              %small.fz-xs Desde
              %h4.text-primary.lh-xs.mv-0 Mex $#{provider.price}
              %small.text-primary.fz-xs por noche
              %h5.bold #{ provider.name }
              %p.lh-sm.text-gray.fz-xs #{ provider.description[0...200] }
              .hidden-md.separator.separator-gray-dark.separator-centered.mt-0.separator-full-width
            .rating
              .ratingStars
              .comments
                %span.badge #{ provider.comments.length }
                %span Comentarios
%br
%br
