<div class="container-fluid">
<%= render "layouts/flash_alerts" %>
  <div class="row text-center">
    <%= search_form_for @search do |f| %>
      <%= f.label :locations_id_eq, "Municipio:" %>
      <%= f.collection_select :locations_id_eq, Location.order(:name), :id, :name, {include_blank: "Todos"}, {class:"borderless form-location-nav"} %> 
      <%= f.label :category_id_eq, "Servicio:" %>
      <%= f.collection_select :category_id_eq, Category.order(:name), :id, :name, {include_blank: "Todos"}, {class:"borderless form-servers-nav"} %>
     
      <%= f.submit "Buscar", class:"ml-14 mt-7 borderless form-search" %>
    <% end %>
  </div>  <!-- row --> 
</div>
  <h3>Check-in:<%= session[:start_date] %></h3>
  <h3>Check-out:<%= session[:end_date] %></h3>
  <% @providers.each do |provider| %>
<div class="container pb-14">
  <div class="row mt-14 mb-14">
    <div class="col-md-12">
      <div class="col-md-2"></div>   
      <div class="row">
        <div class="col-md-8  p-0 list-profiles">
          <div class="col-md-3 text-center p-14">
            <% if provider.avatar? %>
              <%= image_tag(provider.avatar_url(:thumb), :class => "img-circle") %>
            <% elsif !provider.pictures.empty? %>  
              <%= image_tag(provider.pictures.last.image_url(:thumb), :class => "img-circle") %>
            <% else %>
              <%= image_tag('server_carnet.png', :class => "img-circle" ) %>
            <% end %>
          </div>
          <div class="col-md-6 pt-14">
            <h5 class="mb-14 text-center"><%= provider.name %> <%= provider.last_name_1 %> <%= provider.last_name_2 %></h5>
            <ul class="list-unstyled">
              <li><span><i class="fa-check"></i>&nbsp;Categoría:&nbsp;</span><%= provider.category.name %></li>
              <li><span><i class="fa-map-marker"></i>&nbsp;&nbsp;Municipios:&nbsp;</span><%= provider.prov_locations %></li>
              <li><span><i class="fa-star"></i>&nbsp;Calificación promedio:&nbsp;</span> <%= provider.avg_rating.to_i %>/5</li>
            </ul>

          </div>
          <div class="col-md-3 text-center">
           <%= link_to "Contactar".html_safe, new_booking_path(:provider_id => provider.id, :start_date => @start_date, :end_date => @end_date), :class => "mt-56 btn btn-contratar" %>
          </div>
          </div>       
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
    <% end %>
</div>

<%= render "layouts/modal" %>