%center
  %h1 Cuidadores Sugeridos
  %br
%div
  - @providers.each do |provider|
    %br
    .provider-item
      .block-cuidadores
        %a(href="/providers/#{provider.id}")
          - if provider.avatar
            .bg-img-block.border-radius.hidden.square-green(style = "height: 150px; background-image: url('#{provider.avatar}');")
          - else
            .bg-img-block.border-radius.hidden.square-green(style = "height: 150px; background-image: url('/assets/server_carnet.png');")
          .bg-gray-lighter.p-14.m-21
            .body.body-provider
              .row
                .col-xs-4
                .col-xs-8
                  %h5.bold #{ provider.name }
                  - provider.locations.group_by(&:state_id).each do |k, state|
                    %p= state.first.state
                  .rating
                    - val = Valuation.by_comments(provider.id)
                    - score = val.map{|val| val[1]}.reduce(:+).to_i / val.size.to_i rescue 0
                    .ratingStars{score: score, readOnly: true}
            .border-top.pt-21.mt-14
              %small.fz-xs Desde
              %h4.text-primary.lh-xs.mv-0.inline Mex $#{ provider.rates.minimum(:price) }
              %small.text-primary.fz-xs por noche
              %h5.bold.hidden #{ provider.name }
              %p.lh-sm.text-gray.fz-xs.hidden #{ provider.description[0...200] }
              .hidden-md.separator.separator-gray-dark.separator-centered.hidden.mt-0.separator-full-width
            .rating.hidden
              .ratingStars.hidden
              .comments.hidden
                %span.badge #{ provider.comments.length }
                %span Comentarios 
%br
%br
