<div class="container content mh-630">
  <div class="row mt-35">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h3>Regístrate en kmimos</h3>
      <div class="panel panel-primary">
          <div class="panel-heading mb-21 text-gray">Si quieres registrarte como proveedor de kmimos, llena este formulario y nos pondremos en contacto contigo.</div>
          <div class="panel-body">
          <%= form_for @provider, :html => {:multipart => true}  do |f| %>
            <%= render "providers/error_messages" %>
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :name, "Nombre:" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_1, "Apellido paterno:" %><br>
                <%= f.text_field :last_name_1, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_2, "Apellido materno:" %><br>
                <%= f.text_field :last_name_2, class: "form-control" %>
              </div>
            </div>  


            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :email, "Correo electrónico:" %><br>
                <%= f.text_field :email, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <%= f.label :email_c, "Confirmar correo electrónico:" %><br>
                <%= f.text_field :email_c, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <%= f.label :dni, "IFE:" %><br>
                <%= f.text_field :dni, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <%= f.label :phone, "Teléfono:" %><br>
                <%= f.text_field :phone, class: "form-control" %>
              </div>
              <div class="col-md-3">
                  <%= f.label :price, "Precio por noche:" %><br>
                  <%= f.text_field :price, class: "form-control" %>
                </div>
              <div class="col-md-3">
                <%= f.label :avatar do %>
                  <%= f.file_field :avatar  %>
                  <%= f.hidden_field :avatar_cache  %>
                <% end %>
                <div class="input-append">
                  <a id="upload-btn" class="btn btn-primary"><i class="icon-upload-alt"></i> Elegir foto de perfil</a><br>
                  <input id="file-display" class="input-large uneditable-input" type="text">
                </div>
                <% unless @provider.avatar_cache.nil? %>
                <div id="archivo-elegido">Archivo elegido: <%= @provider.avatar_cache.slice(@provider.avatar_cache.index("/")+1,@provider.avatar_cache.length-@provider.avatar_cache.index("/")) %>
                </div>
                <% end %>
               
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <%= f.label :description, "Descripción de servicios:" %><br>
                <%= f.text_area :description, class: "form-control" %>
              </div>
            </div>

 
            <label>¿En qué municipios puedes trabajar?</label> <br>

            <div class="row pt-14 pb-21">
              <div class="col-md-12">
                <%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll();") %> <p onclick="allLabel()" class="inline-block m-0 p-0 strong text-primary">Todos</p>
              </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_1.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_2.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_3.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :password, "Contraseña:" %><br />
                <%= f.password_field :password, class: "form-control"%>
              </div>
              <div class="col-md-6">
                <%= f.label :password_confirmation, "Confirmación de contraseña:" %><br />
                <%= f.password_field :password_confirmation, class: "form-control"%>
              </div>
            </div>
            <div class="row mt-28">
              <div class="col-md-6">
                <%= f.fields_for :provider_attachments do |p| %>
                  <div class="field">
                    <%= p.label :photo, "Elige fotos para tu galeria:" %> <br>
                    <%= p.file_field :photo, :multiple => true, name: "provider_attachments[photo][]" %>
                  </div>
                <% end %>
              </div>
              <div class="col-md-3">
                <div>
                  <%= f.label "Tamaños:" %> <br>
                  <%= hidden_field_tag "provider[size_ids][]", nil %>
                  <% Size.find_each do |size| %>
                    <%= check_box_tag "provider[size_ids][]", size.id, @provider.size_ids.include?(size.id), id: dom_id(size) %>
                    <%= label_tag dom_id(size), size.size_title, class: "small" %> <br>
                  <% end %>
                </div>
              </div>
              <div class="col-md-3">
                <div> 
                  <%= f.label "Edades:" %> <br>
                  <%= hidden_field_tag "provider[age_ids][]", nil %>
                  <% Age.find_each do |age| %>
                    <%= check_box_tag "provider[age_ids][]", age.id, @provider.age_ids.include?(age.id), id: dom_id(age) %>
                    <%= label_tag dom_id(age), age.age_group_name, class: "small" %> <br>
                  <% end %>
                </div>
              </div>
            </div>
            <div>
              <%= f.label :areas_externas, "¿Cuéntas con áreas externas? (describe)" %><br>
              <%= f.text_field :areas_externas, class: "form-control" %>
            </div>
            <div class="row mt-28">
              <div class="col-md-6">
                <div>
                  <%= f.label :experiencia, "¿Años cuidando perros?" %><br>
                  <%= f.text_field :experiencia, class: "form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <%= f.label :property_id, "Tipo de propiedad" %><br>
                  <%= f.collection_select(:property_id, Property.all, :id, :property_name, {prompt: 'Selecciona'}, :class => "form-control") %>
                </div>
              </div>
            </div>

            <div class="mt-28"> 
              <%= f.label :iframe_code, "Ingresa el código iframe para agregar un mapa de tu ubicación" %><br>
              <%= f.text_area :iframe_code, class: "form-control" %>
            </div>

            <div class="row mv-28">
              <div class="col-md-6">
                <%= f.check_box( :emergencia, {}, "Sí", "No") %>
                <%= f.label :emergencia, "¿Brindas transporte de emergencia?" %>
              </div>
            </div>

          <div class="col-md-3 pl-0 mb-42">
             <%= f.submit "Regístrate", id: "submit", class: "btn btn-primary form-control" %>
          </div>
        <% end %>
          </div> <!-- panel-body -->
      </div> <!-- panel-default -->
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div>
