<div class="container content mh-630">
  <div class="row mt-63">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-49">
    <p>Si quieres registrarte como proveedor de Servihogar, llena este formulario y nos pondremos en contacto contigo.</p>
      <div class="panel panel-primary">
          <div class="panel-heading">Regístrate en Servihogar</div>
          <div class="panel-body">
          <%= form_for(@provider) do |f| %>
            <%= render "providers/error_messages" %>
            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :name, "Nombre:" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_1, "Apellido paterno:" %><br>
                <%= f.text_field :last_name_1, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :last_name_2, "Apellido materno:" %><br>
                <%= f.text_field :last_name_2, class: "form-control" %>
              </div>
            </div>  


            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :email, "Correo electrónico:" %><br>
                <%= f.text_field :email, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <p>confirmación de correo</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-4">
                <%= f.label :dni, "IFE:" %><br>
                <%= f.text_field :dni, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.label :phone, "Teléfono:" %><br>
                <%= f.text_field :phone, class: "form-control" %>
              </div>
              <div class="col-md-4">
              <!-- builder  --> 
               <%= f.fields_for :pictures, Picture.new do |p| %>
              <label>Elegir imagen de perfil</label>
                 <div class="form-group">
                   <%= p.hidden_field :id %>
                   <%= p.hidden_field :imageable_id %>
                   <%= p.hidden_field :imageable_type %>
                   <%= p.file_field :image %>
                 </div>
              <% end %>
              <!-- builder -->
              </div>
            </div>

            <div class="form-group row">
               <div class="col-md-5">
                <label>¿A qué categoría perteneces?</label>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {:include_blank => "Seleccione categoría"}, { :class=> "form-control" }) %>
              </div>
              <div class="col-md-7">
                <%= f.label :description, "Descripción de servicios:" %><br>
                <%= f.text_field :description, class: "form-control" %>
              </div>
            </div>

 
            <label>¿En qué distritos puedes trabajar?</label> <br>

            <div class="row pt-14 pb-21">
              <div class="col-md-12">
                <%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll();") %> <p onclick="allLabel()" class="inline-block m-0 p-0 strong text-primary">Todos</p>
              </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_1.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_2.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= hidden_field_tag "provider[location_ids][]", nil %>
              <% @locations_set_3.each do |location| %>
                <%= check_box_tag "provider[location_ids][]", location.id, @provider.location_ids.include?(location.id), id: dom_id(location), :onClick => "uncheckMain(this);", class: "location_cbx" %>
                <%= label_tag dom_id(location), location.name, class: "small" %> <br>
              <% end %>
            </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :password, "Contraseña:" %><br />
                <%= f.password_field :password, class: "form-control"%>
              </div>
              <div class="col-md-6">
                <%= f.label :password_confirmation, "Confirmación de contraseña:" %><br />
                <%= f.password_field :password_confirmation, class: "form-control"%>
              </div>
            </div>

          <div class="col-md-6">
             <%= f.submit "Regístrate", id: "submit", class: "btn btn-primary form-control" %>
          </div>
        <% end %>
          </div> <!-- panel-body -->
      </div> <!-- panel-default -->
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div>
