<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Last name 1:</strong>
  <%= @provider.last_name_1 %>
</p>

<p>
  <strong>Last name 2:</strong>
  <%= @provider.last_name_2 %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @provider.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @provider.category %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
