

.container.pvp-7
  .row
    .col-md-12.p-0
      .info
        .user.border-bottom.text-center.pb-14
          %h3.m-0.mb-7
            = "#{@provider.name.downcase.capitalize} #{@provider.last_name_1.downcase.capitalize}"
          .user-card.user-card-round.size.xs.mb-21.row
            .user-pic.margin-auto
              = image_tag(@provider.avatar, class: 'avatar') if @provider.avatar?
              = image_tag('server_carnet.png', class: 'avatar') unless @provider.avatar?
              %center
                - val = Valuation.by_comments(@provider.id)
                - score = val.map{|val| val[1]}.reduce(:+).to_i / val.size.to_i rescue 0
                .ratingStars{score: score, readOnly: true}
    .user-info.col-md-12.text-center.p-0
      %p= @provider.description
      -if current_user != nil
        .row
          .col-md-5
          .col-md-7
            .favorite_form
              - unless @provider.favorite?(current_user)
                %a.btn.bordered-btn{href: "#{new_favorite_path}?provider_id=#{@provider.id}"}
                  %i.fa.fa-heart-o
                  %small Agregar a Favoritos
    .col-md-12.p-0
      = simple_form_for Booking.new, :method => 'GET', :url => new_booking_path do |f|
        = f.input :provider_id, as: :hidden, input_html: {value: @provider.id}
        .content-article.mt-14.mb-28
          .border-bottom.text-center
            %p.light.mb-0.text-gray.text-small Desde
            %h4.m-7.price
              = current_country.currency
              = number_with_precision(1.2*(@provider.rates.minimum(:price)),:precision => 2)
            %h5.light.mt-0.text-gray.text-small por noche
            %p{style:"font-size:10px;margin-bottom:-5px"} * Los precios incluyen el 20% de Beneficios Kmimos
            =f.submit "Reservar".html_safe, :class => "mt-14 mb-21 btn btn-primary btn-small btn-fold" #,  :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Reservar', 'provider_#{@provider.id.to_s}']);"
            %br/
            = link_to "Conocer cuidador".html_safe, new_meeting_path(:provider_id => @provider.id), :class => "text-secondary btn btn-fold", :style => "border-color: #1DBA9A; padding: 10px 7px;",  :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Conocer', 'provider_#{@provider.id.to_s}']);"
            %br
            %p
              %br
            %p
              %b Check in:
              = @provider.check_in.strftime("%H:%M") rescue ""
            %p
              %b Check out:
              = @provider.check_out.strftime("%H:%M") rescue ""
          .border-bottom.text-left.pl-21
            %h4.text-gray.mv-14.border-bottom
              Servicios Adicionales
            %p Elige el servicio que deseas para tu mascota. Si solo quieres contratar un servicio y no una estadía, entonces selecciona el servicio y dale Contratar. 
            %p{style:"font-size:10px;"} * Los precios incluyen el 20% de Beneficios Kmimos
            - @provider.services.order('id').uniq.each do |service|
              %input.mt-21{value: service.id}(type="checkbox" name="services[]")
                %p.inline
                  #{service}
                  %i{style: 'color: #a7a279'}
                    %br
                    desde
                    = current_country.currency
                    =number_with_precision((AdditionalService.get_min_rates_for(@provider.id, service.id)*1.2), :precision => 2)
              %br
          .text-center
            =f.submit "Contratar".html_safe, :class => "mt-14 mb-21 btn btn-primary btn-small btn-fold" #,  :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Reservar', 'provider_#{@provider.id.to_s}']);"

    .col-md-12

      %h3.text-gray Detalles
      .row.details-profile.mt-35
        .col-md-3.col-xs-6.p0-b-5
          %p.label.text-center.bold
            -if @provider.property != nil
              Tipo de propiedad
              .icon= image_tag('detalles-casa.svg', height: '32px')
              %p.label-small= @provider.property
            - else
              Tipo de propiedad
              .icon= image_tag('detalles-casa.svg', height: '32px')
              %p.label-small= @provider.property
        .col-md-3.col-xs-6.p0-b-5
          %p.label.text-center.bold Tamaño aceptados
          .icon= image_tag('detalles-perro-grande.svg', height: '32px')
          %p.label-small="Perros #{@provider.sizes.map{|size| size.size_title}.join(', ')} "
        .col-md-3.col-xs-6.p-0
          %p.label.text-center.bold Edades aceptadas
          .icon= image_tag('detalles-edad-perro-cachorro.svg', height: '32px')
          %p.label-small="#{@provider.ages.join(' ')} "
        .col-md-3.col-xs-6.p-0
          %p.label.text-center.bold Años de experiencia
          .icon= image_tag('detalles-experiencia.svg', height: '32px')
          %p.label-small= "#{@provider.experiencia} años"
      .border-bottom.mt-21

      -if @provider.provider_attachments.count > 0
        %h3.text-gray.mb-35.mt-49= "Fotos de #{@provider.name} #{@provider.last_name_1}"
        / Place somewhere in the <body> of your page
        .slider
          - @provider.provider_attachments.each do |p|
            .slide{style: "background: url('#{p.photo.url}')"}  
      - else
        %p No hay fotos 
      %h3.text-gray.mb-35 Otros detalles
      .row.details-profile.pl-21
        .col-md-3.col-xs-6.p0-b-5
          %p.label.text-center.bold Mascotas en casa
          .icon= image_tag('otros-detalles-otros-perros.svg', height: '32px')
          - if !@provider.own_sizes.empty?
            %p.label-small= "#{@provider.number_of_pets} Perros en casa (#{@provider.own_sizes.map{|size| size.size_title}.join(', ')})"
          - else
            %p.label-small Ninguna
        .col-md-3.col-xs-6.p0-b-5
          %p.label.text-center.bold Mi propiedad
          .icon= image_tag('otros-detalles-patio.svg', height: '32px')
          %p.label-small= @provider.has_yard ? "Tiene patio" : "No tiene patio"
        .col-md-3.col-xs-6.p-0
          %p.label.text-center.bold Mi propiedad
          .icon= image_tag('otros-detalles-areas-verdes.svg', height: '32px')
          %p.label-small= @provider.has_green ? "Tiene areas Verdes" : "No tiene areas verdes"
        .col-md-3.col-xs-6.p-0
          %p.label.text-center.bold # Perros aceptados
          .icon= image_tag('otros-detalles-cantidad-perros.svg', height: '32px')
          %p.label-small="#{@provider.pets_allowed.to_i}"
      .row.details-profile.pl-21
        - if !(@provider.only_sterilizated)
          .col-md-3
            %p.label.text-center.bold Esterilizacón
            .icon= image_tag('perro_esterilizado.svg', height: '32px')
            %p.label-small Solo acepta perros esterilizados
      - if !@provider.accepted_behaviors.empty?
        .Comportamientos
          %h3.text-gray Comportamientos de perros aceptados
          .row.comp
            - @provider.accepted_behaviors.each do |behavior|
              = image_tag('huella_comportamientos.svg')
              = behavior
      .ubicacion
        %h3.text-gray Ubicación
        .row
          .col-md-7.p-0
            #map{style: "width: 100%; height: 400px;", latitude: @provider.latitude, longitude: @provider.longitude, zoom: "14"}
            .circle{latitude: @provider.latitude, longitude: @provider.longitude, radio: '800'}          
          .col-md-5.p-0
            %h4.text-secondary Areas del Servicio
            - @provider.locations.group_by(&:state_id).each do |k, state|
              %h4.mb-14.mt-21.pb-7.border-bottom= state.first.state
              - state.each do |city|
                .city-span.mt-7.mb-7
                  = image_tag('icono-distritos.svg')
                  %span.text-third= city
                  %br
      .comentarios
        %h3.text-gray Experiencias Kmimos
        #comments-div
          = render partial: 'layouts/partial/comments', locals: {provider: @provider}

        .content-detalles.mt-14-mb-28.pb-14
          .border-bottom.text-left.pl-21
            %h4.text-gray.mv-14="#{@provider.comments.count} Evaluaciones"
          .text-left.ph-21
            -Valuation.by_comments(@provider.id).each do |valuation, value|
              %h5= valuation
              .ratingStars.pl-14.mt-7{score: value.to_i, readOnly: true}
            %br

- if Rails.env.production?
  :javascript
    mixpanel.track('Ingresó a perfil de cuidador',{
     "id_cuidador" :#{@provider.id},
      "nombre_cuidador": "#{@provider.name}",
      "apellido_cuidador": "#{@provider.last_name_1}"
    });


:javascript
            
  $('.slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1, 
    fade: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 2000
  });

  providerMap = initMap('providerMap', 'map');