<div class="container pvp-7 ph-21">
  <div class="row mv-56">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <p class="text-gray medium ml-7 mb-35">Resultados > <%= @provider.name %> <%= @provider.last_name_1 %></p>
      <div class="info">
        <div class="user border-bottom">
          <div class="user-card user-card-round size xs mb-21">
            <div class="user-pic flex-middle">                        
              <% if @provider.avatar? %>
              <%= image_tag(@provider.avatar_url(:thumb), :class => "img-circle") %>
              <% else %>
              <%= image_tag('server_carnet.png', :class => "img-circle" ) %>
              <% end %>
            </div>
            <div class="user-info ml-28">
              <h1 class="m-0"><%= @provider.name %> <%= @provider.last_name_1 %></h1>
              <span class="text-gray"><%= @provider.prov_locations_modal %></span>
              <div class="rating-reviews pl-7 mt-7">
                <span><i class="fa fa-star text-yellow"></i></span>
                <span><i class="fa fa-star text-yellow"></i></span>
                <span><i class="fa fa-star text-yellow"></i></span>
                <span><i class="fa fa-star text-yellow"></i></span>
                <span><i class="fa fa-star text-yellow"></i></span>
              </div>
            </div>
          </div>
        </div>                
      </div>
      <h2 class="text-gray">Fotos</h2>
      <!-- Place somewhere in the <body> of your page -->
      <div id="slider" class="flexslider carousel-gallery mb-7">
        <% if !@provider_attachments.empty? %>
          <ul class="slides">
          <% @provider_attachments.each do |p| %>
            <li>
              <div class="row ml-0 mr-0">                
               <div class="col-md-12 server-pic ph-0">
                 <%= image_tag p.photo_url %>
               </div>
              </div>
            </li>
          <% end %>
          </ul>
        <% else %>
        <p> No hay fotos </p>
        <% end %>
      </div>
      <div id="carousel" class="flexslider">
         <% if !@provider_attachments.empty? %>
          <ul class="slides">
          <% @provider_attachments.each do |p| %>
            <li>
              
              <%= image_tag p.photo_url %>

            </li>
          <% end %>
          </ul>
        <% end %>
      </div>
<!--       <div class="flexslider">
        <% if !@provider_attachments.empty? %>
          <ul class="slides">
          <% @provider_attachments.each do |p| %>
            <li>
              <div class="row ml-0 mr-0">                
               <div class="col-md-12 server-pic ph-0">
                 <%= image_tag p.photo_url, size: '617x347' %>
               </div>
              </div>
            </li>
          <% end %>
          </ul>
        <% else %>
        <p> No hay fotos </p>
        <% end %>
      </div>  -->
      <div class="descripcion-perfil border-top">
         <h2 class="text-gray">Sobre <%= @provider.name %>:</h2>
          <p><%= @provider.description %></p>
      </div>
      <div class="ubicacion border-top">
        <h2 class="text-gray">Ubicación</h2>
<!--         <p class="mb-21"><span><i class="fa fa-map-marker text-secondary"></i></span> Coyoacán, Estado de México, Mipa Alta.</p> -->
        <%= @provider.iframe_code.html_safe if !@provider.iframe_code.nil? %>
      </div>
      <div class="comentarios border-top">
        <h2 class="text-gray">Comentarios</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="content-article mt-14 mb-28 text-center m-21">
        <h4 class="light mb-0 text-gray text-small">Desde</h4>
        <h3 class="m-7 text-secondary"><%= current_country.currency %><%= @provider.price.to_i %></h3>
        <h4 class="light mt-0 text-gray text-small">por noche</h4>
        <p class="thin text-graylight"> (Los precios pueden variar dependiendo el tamaño y cuidados especiales de la mascota)</p>
        <%= link_to "Reservar".html_safe, new_booking_path(:provider_id => @provider.id, :start_date => @start_date, :end_date => @end_date), :class => "mt-14 mb-21 btn btn-primary btn-small btn-fold",  :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Reservar', 'provider_#{@provider.id.to_s}']);"  %> <br>
        <%= link_to "Conocer cuidador<br> en persona".html_safe, new_meeting_path(:provider_id => @provider.id), :class => "text-black text-small",  :onClick=>"_gaq.push(['_trackEvent', 'Proveedores', 'Conocer', 'provider_#{@provider.id.to_s}']);"  %>

      </div>
      <div class="content-detalles mt-14 mb-28 text-center m-21 pb-14">
        <div class="border-bottom text-left pl-21">
          <h3 class=" text-gray mv-14">Detalles</h3>
        </div>
        <div class="text-left ph-21">
          <h5 class=" text-secondary mt-14 mb-7">Tipo de propiedad:</h5>
          <p class="text-gray"><%= Property.find(@provider.property_id).property_name if !@provider.property_id.nil? %></p>
          <h5 class="text-secondary mt-14 mb-7">Áreas externas:</h5>
          <p class="text-gray"><%= @provider.areas_externas %></p>
          <h5 class="text-secondary mt-14 mb-7 light">Tamaño de perros aceptados:</h5>
          <ul class="pl-21">
            <% @provider.sizes.each do |size| %> 
            <li class="text-gray light"><%= size.size_title %></li>
           <% end %>
          </ul>
           
          <h5 class="text-secondary mt-14 mb-7 light">Edades aceptadas para perros:</h5>
          <ul class="pl-21">
            <% @provider.ages.each do |age| %>
            <li class="text-gray light"><%= age.age_group_name %></li>
           <% end %>
          </ul>
           
          <h5 class="text-secondary mt-14 mb-7 light">Transporte de emergencia:</h5>
          <% if @provider.emergencia == false %>
            <p class="text-gray light">No</p>
            <% else %>
            <p class="text-gray light">Sí</p>
          <% end %>
          <h5 class="text-secondary mt-14 mb-7 light">Años cuidando perros:</h5>
          <p class="text-gray light"><%= @provider.experiencia %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hidden">
  <h3>mostrando photos</h3>
  <% @provider_attachments.each do |p| %>
    <%= image_tag p.photo_url, :size => "150x150" %>
    <%= link_to "Borrar foto", p, method: :delete %>
  <% end %>
</div>
<div class="hidden">
  <%= link_to 'Edit', edit_provider_path(@provider) %> |
  <%= link_to 'Back', providers_path %>
</div>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'kmimos';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

