<div class="container content mh-630">
  <div class="row">
    <h2 class="text-center mt-35">Conoce a un cuidador de Kmimos en persona</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-21 mb-42">
      <h3 class="text-gray mb-28">Detalle de tu solicitud:</h3>
      <h4 class="text-gray"><small class="text-black bold">Cuidador:</small> <%= Provider.find(session[:chosen_provider_id]).name %> <%= Provider.find(session[:chosen_provider_id]).last_name_1 %> <%= Provider.find(session[:chosen_provider_id]).last_name_2 %></h4>
      <% if !session[:start_date].nil? %>
        <h4 class="text-gray light"><small class="text-black bold">Check-in:</small> <%= session[:start_date].strftime("%d/%m/%Y") %>
      <% end %></h4>
      <% if !session[:end_date].nil? %>
        <h4 class="text-gray light"><small class="text-black bold">Check-out:</small> <%= session[:end_date].strftime("%d/%m/%Y") %></h4>
      <% end %>
      <hr class="hr-gray">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Completa tus datos para ponernos en contacto contigo. Uno de nuestros agentes te contactará en breve.</h4></div>
            <div class="panel-body">
            <%= form_for(@meeting)  do |f| %>
              <%= render "meetings/error_messages" %>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :user_first_name, "Nombre:", class: "h3 light text-gray" %><br>
                  <%= f.text_field :user_first_name, class: "form-control mb-21" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :user_last_name, "Apellido:", class: "h3 light text-gray" %><br>
                  <%= f.text_field :user_last_name, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :user_phone, "Teléfono:", class: "light h3 text-gray" %><br>
                  <%= f.text_field :user_phone, class: "form-control mb-21" %>
                  <%= f.hidden_field :provider_id, :value => session[:chosen_provider_id] %>
                </div>
                <div class="col-md-6">
                  <%= f.label :user_email, "E-mail:", class: "light h3 text-gray" %><br>
                  <%= f.text_field :user_email, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3">
                  <%= f.submit "Confirmar", id: "reservar", class: "btn mt-21 btn-primary form-control" %>
                </div>
              </div>
            <% end %>
          </div> <!-- panel-body -->
        </div> <!-- panel-primary -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
  </div> 
