%center
  = render "layouts/flash_alerts"
.container.mh-630
  .row.mt-70
    .col-md-4
    .col-md-4
      
      .panel.panel-primary
        .panel-heading.medium.text-gray.mb-14 Ingresa a tu cuenta Kmimos
        .panel-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group= f.input :email 
            .form-group= f.input  :password, label: "Contraseña"
            = f.submit "Ingresa", class: 'form-control btn btn-primary mb-21'
          = render "providers/shared/links"
    .col-md-4
    
