%h3 Paso 1
%section
  .row
    .col-md-12
      %h2 Datos Personales
      %hr
  .row
    .col-md-12
      = f.input :name, label:  "Nombre:" 
      = f.input :last_name_1, label:  "Apellido Paterno:"   
  .row
    .col-md-6= f.input :dni, label:  current_country.dni_label 
    .col-md-6= f.input :phone, label:  "Teléfono:"  
  .row
    .col-md-12
      %hr
  .row
    .col-md-12= f.input :email, label:  "Correo electrónico:"  
  .row 
    .col-md-12= f.input :password, label: "Contraseña:" 
  .row
    .col-md-12 
      =#TO-DO Avatar
  .row
    .col-md-6
      =# TO-DO Galeria Foto