%h3 Paso 3
%section
  .row
    .col-md-12
      %h2.title-step Servicios Adicionales
      %hr
  .row
    .col-md-12
      = f.fields_for :additional_services do |s|
        .row
          .col-md-4 Servicio
          .col-md-6= s.association :service, label: false
          .col-md-2= s.link_to_remove "Eliminar"
        .row
          .col-md-6.tricol_checkboxes= s.association :sizes, label: false, as: :check_boxes
          .col-md-2 Precio
          .col-md-2= s.input :price, label: false
        .row
          .col-md-12
            %hr
          
      = f.link_to_add "Agregar un Servicio Adicional", :additional_services 