%h3 Paso 1
%section
  .row
    .col-md-12
      %h2.title-step Datos Personales
      %hr
  .row
    .col-md-1
    .col-md-10
      .row
        .col-md-3 Nombre:
        .col-md-9= f.input :name, label: false 
      .row
        .col-md-3 Apellido Paterno:
        .col-md-9= f.input :last_name_1, label: false 
      .row
        .col-md-2= current_country.dni_label 
        .col-md-3= f.input :dni, label: false 
        .col-md-1
        .col-md-2 Teléfono:
        .col-md-3= f.input :phone, label: false
      .row.border-bottom.mb-42
        .col-md-12.mb-35
          = f.input :avatar, label: false 
          .input-append
            %a#upload-btn.btn.btn-primary
              %i.icon-upload-alt
              Sube tu foto de perfil 
            
      .row
        .col-md-3 Correo electrónico:
        .col-md-9= f.input :email, label: false
      .row 
        .col-md-3 Contraseña:
        .col-md-9= f.input :password, label: false
      .row 
        .col-md-3 Confirmar Contraseña:
        .col-md-9= f.input :password_confirmation, label: false
      
      .row
        .col-md-3 Fotos Adicionales:
        .col-md-9
          - f.fields_for :provider_attachments do |a|  
            .row 
              .col-md-10= a.input :photo, :multiple => true, label: false
              .col-md-2= a.link_to_remove "X"
          = f.link_to_add "Agregar Foto", :provider_attachments 
    .col-md-1