.container.content.mh-630.mb-70
  .row.mt-35
    .col-md-2
    .col-md-8
      %h3.text-align-center Sé parte de Kmimos 
      .panel.panel-primary
        .panel-heading.mb-21.text-gray.text-align-center
          Para registrarte como cuidado de Kmimos, llena este formulario y nos pondremos en contacto contigo.
        .panel-body 
          = simple_nested_form_for(@provider, :html => {:multipart => true}) do |f|  
            .registration_wizard
              = render partial: 'step1', locals: {f: f}
              = render partial: 'step2', locals: {f: f}
              = render partial: 'step3', locals: {f: f} 
            = render partial: 'terms', locals: {f: f}

 
 

      
      