.row.mt-56
  .col-md-1
  .col-md-10
    %center
      %h1 Reservas 
    %br
    - if @bookings.count == 0
      %center
        %h3 No hay reservas registradas
    - else 
      .table
        %table{style: "width: 100%;"}
          %thead
            %th 
              %h4 Fecha
            %th 
              %h4 Cuidador
            %th 
              %h4 Servicio 
            %th 
              %h4 Precio Total 
            %th 
              %h4 Calificacion
          - @bookings.each do |book| 
            %tbody{style: "background-color: #fffff8"}
              %td
                %p
                  %b Llegada
                  = book.start_date
                %p
                  %b Salida
                  = book.end_date
              %td
                = "#{book.user.first_name} #{book.user.last_name}"
              %td
                = book.booked_services.map{|bs| bs.service}.join(' ,')
              %td
                = book.total 
              %td
                - val = Valuation.by_comments(book.provider.id)
                - score = val.map{|val| val[1]}.reduce(:+).to_i / val.size.to_i rescue 0
                .ratingStars{score: score, readOnly: true} 
  .col-md-1

 