<div class="container content mh-630">
  <div class="row">
    <h2 class="text-center">Confirma tu reserva</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-21">
      <h3 class="text-gray">Detalle de tu reserva:</h3>
      <h4 class="text-gray"><small class="text-black">Check-in:</small> <%= session[:start_date].strftime("%d/%m/%Y") %></h4>
      <h4 class="text-gray"><small class="text-black">Check-out:</small> <%= session[:end_date].strftime("%d/%m/%Y") %></h4>
      <h4 class="text-gray"><small class="text-black">Cuidador:</small> <%= Provider.find(session[:provider_id]).name %> <%= Provider.find(session[:provider_id]).last_name_1 %> <%= Provider.find(session[:provider_id]).last_name_2 %></h4>
      <hr>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Completa tus datos:</h3></div>
            <div class="panel-body">
            <%= form_for(@booking)  do |f| %>
              <%= render "bookings/error_messages" %>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :user_first_name, "Nombre:" %><br>
                  <%= f.text_field :user_first_name, class: "form-control" %>
                  <%= f.label :user_phone, "Teléfono:" %><br>
                  <%= f.text_field :user_phone, class: "form-control" %>
                  
                </div>
                <div class="col-md-6 pl-0">
                  <%= f.label :user_last_name, "Apellido:" %><br>
                  <%= f.text_field :user_last_name, class: "form-control" %>
                  <%= f.label :user_email, "E-mail:" %><br>
                  <%= f.text_field :user_email, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <%= f.label :user_message, "Mensaje:" %><br>
                  <%= f.text_area:user_message, class: "form-control" %>
<!--                   <%= f.label :ref_code, "Código de descuento:" %><br> -->
<!--                   <%= f.text_field :ref_code, class: "form-control" %> -->
                  <%= f.hidden_field :start_date, :value => session[:start_date] %>
                  <%= f.hidden_field :end_date, :value => session[:end_date] %>
                  <%= f.hidden_field :provider_id, :value => session[:chosen_provider_id] %>
                </div>
              </div> 


            <div class="col-md-6 pl-0">
               <%= f.submit "Confirmar", id: "reservar", class: "btn btn-primary form-control" %>
            </div>
          <% end %>
            </div> <!-- panel-body -->
        </div> <!-- panel-default -->
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div>
