<div class="container content mh-630">
  <div class="row">
    <h2 class="text-center mt-35">Confirma tu reserva</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-21 mb-42">
      <h3 class="text-gray mb-28">Detalle de tu reserva:</h3>
        <% if !session[:start_date].nil? %>
          <h4 class="text-gray light"><small class="text-black bold">Check-in:</small> <%= session[:start_date].strftime("%d/%m/%Y") %>
        <% end %></h4>
        <% if !session[:end_date].nil? %>
          <h4 class="text-gray light"><small class="text-black bold">Check-out:</small> <%= session[:end_date].strftime("%d/%m/%Y") %></h4>
        <% end %>
      <h4 class="text-gray light"><small class="text-black bold">Cuidador:</small> <%= Provider.find(session[:chosen_provider_id]).name %> <%= Provider.find(session[:chosen_provider_id]).last_name_1 %> <%= Provider.find(session[:chosen_provider_id]).last_name_2 %></h4>
  <h4 class="text-gray light"><small class="text-black bold">Precio:</small> <%= current_country.currency %><%= Provider.find(session[:chosen_provider_id]).price %> / noche</h4>
      <hr class="hr-gray">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4 class="text-gray line-regular">Completa tus datos para ponernos en contacto contigo y cerrar tu reservación. Uno de nuestros agentes te contactará en breve.</h4></div>
            <div class="panel-body">
            <%= form_for(@booking)  do |f| %>
              <%= render "bookings/error_messages" %>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :user_first_name, "Nombre:", class: "h3  text-gray" %><br>
                  <%= f.text_field :user_first_name, class: "form-control mb-21" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :user_last_name, "Apellido:", class: "h3  text-gray" %><br>
                  <%= f.text_field :user_last_name, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :user_phone, "Teléfono:", class: " h3 text-gray" %><br>
                  <%= f.text_field :user_phone, class: "form-control mb-21" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :user_email, "E-mail:", class: " h3 text-gray" %><br>
                  <%= f.text_field :user_email, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-4">
                  <%= f.label :pet_name, "Nombre del perro:", class: " h3 text-gray" %><br>
                  <%= f.text_field :pet_name, class: "form-control mb-21" %>
                </div>
                <div class="col-md-4">
                  <%= f.label :raza, "Raza del perro:", class: " h3 text-gray" %><br>
                  <%= f.text_field :raza, class: "form-control mb-21" %>
                </div>
                <div class="col-md-4">
                  <%= f.label :edad, "Edad del perro:", class: " h3 text-gray" %><br>
                  <%= f.text_field :edad, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <%= f.label :pickup_time, "Horario de recolección:", class: " h3 text-gray" %><br>
                  <%= f.text_field :pickup_time, class: "form-control mb-21" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :dropoff_time, "Horario de entrega:", class: " h3 text-gray" %><br>
                  <%= f.text_field :dropoff_time, class: "form-control mb-21" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <%= f.label :address, "Dirección", class: "h3  text-gray" %><br>
                  <%= f.text_area :address, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <%= f.label :cuidado_especial, "¿Necesita cuidados especiales?", class: "h3  text-gray" %><br>
                  <%= f.text_area :cuidado_especial, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <%= f.label :user_message, "Mensaje:", class: "h3  text-gray" %><br>
                  <%= f.text_area :user_message, class: "form-control" %>
                  <% if !session[:start_date].nil? %>
                    <%= f.hidden_field :start_date, :value => session[:start_date] %> 
                  <% end %>
                  <% if !session[:end_date].nil? %>
                    <%= f.hidden_field :end_date, :value => session[:end_date] %>
                  <% end %>
                  <%= f.hidden_field :provider_id, :value => session[:chosen_provider_id] %>
                </div>
              </div>
            <div class="form-group row">  
              <div class="col-md-6">
                <%= f.label :ref_code, "Código de descuento:", class: "h3  text-gray" %><br>
                <%= f.text_field :ref_code, class: "form-control" %>
              </div>
            </div>

<!--               Checkbox de Terminos y condiciones -->
              <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Acepto términos y condiciones.
                  </label>
              </div>
                    

            <div class="form-group row">
              <div class="col-md-3">
                <%= f.submit "Confirmar", id: "reservar", class: "btn mt-21 btn-primary form-control" %>
              </div>
            </div>
          <% end %>
          </div> <!-- panel-body -->
        </div> <!-- panel-default -->
        <div>
          <h5>*La reservación del cuidador está sujeta a cambios por motivos de disponibilidad, tamaño de perro y cuidados necesarios.</h5>
        </div>
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div>
