:css
  #license_terms {
    overflow-y: scroll;
  }

= render partial: 'error_messages'
%div(ng-app="bookings_module")
  .container.content.mh-630(ng-controller = "BookingsController")
    = simple_nested_form_for(@booking)  do |f|
      %input{value: @provider.id}(name="provider_id" type="hidden")
      .row
        .col-md-12
          %h2.text-center.mt-35 Datos de la reserva
          %br

      .row
        .col-md-2
        .col-md-3
          = image_tag(@provider.avatar, width: '200px')
        .col-md-5
          %h2= @provider
          - @provider.locations.group_by(&:state_id).each do |k, state|
            %b= state.first.state
            %br
            %span.text-gray= state.map(&:name).join(", ")
      %br
      .row
        .col-md-2
        .col-md-8
          %h3.text-gray.mb-42 Resumen de la reserva:
      .row.booking-container
        .col-md-2
        .col-md-8.mt-21.mb-42
          %h4.text-gray.light
            %small.text-black.bold Cuidador:
            = "#{@provider.name} #{@provider.last_name_1} #{@provider.last_name_2}"
          %h4.text-gray.light
            %small.text-black.bold Precio:
            = "#{current_country.currency} #{@provider.price.to_i * 1.2} noche"
          %br
          %br
          .row#datepair
            .col-md-3
              Llegada
              =f.input :start_date, as: :string, label: false, input_html: {class: "date start datepicker_min", 'ng-model': 'minDate', 'ng-change': 'get_diff_dates()'}
            .col-md-3
              Horas
              =f.input :pickup_time, :as => :time_picker, label: false, input_html: {style: "width: 50%; display: inline;"}
            .col-md-3
              Salida
              =f.input :end_date, as: :string, label: false, input_html: {class: "date end datepicker_max", 'ng-model': 'maxDate', 'ng-change': 'get_diff_dates()'}
            .col-md-3
              Hora
              =f.input :dropoff_time, :as => :time_picker, label: false, input_html: {style: "width: 50%; display: inline;"}

          .row
            .col-md-12
              .panel.panel-primary
                .panel-body.line-regular
                  %p Añade a tu mascota a la reserva del tiempo de estadía que selecciones.
                  %br
                  .form-group.row(ng-repeat="pet in pets_booked")
                    .row.pb-7.border-bottom
                      .col-md-3 Nombre:
                      .col-md-6
                        %select.form-control{name: "booking[booked_pets_attributes][][pet_id]"}(ng-model= "pet.pet_id"  ng-change="update_pets(#{@provider.id})")
                          -current_user.pets.each do |pet|
                            %option{value: pet.id}= pet
                      .col-md-2 $ {{ pet.price }} MXN
                      .col-md-1
                        %a(ng-click="deletePet(pet)" href="#") X
                  %center
                    %a.btn.btn-primary(ng-click="add_pet()") Quiero agregar a mi mascota
                  .row
                    %br
                  .form-group.row
                    .col-md-12= f.input :address, class: "form-control", label: "Dirección de Recojo", as: :text, input_html: { value: current_user.address }
                  .form-group.row
                    .col-md-12
                      = f.input :user_message, label: "¿Necesitas que sepamos algún dato extra sobre tu perrito?", as: :text, class: "form-control"
                  .form-group.row
                    .col-md-6
                      = f.input :ref_code, label: "Código de descuento:", class: "form-control"
                  / Modal
          %br
          %h4 Quieres contratar servicios adicionales?
          %br
          .panel-body
            .form-group.row(ng-repeat="serv in services_booked")
              .row.border-bottom
                .col-md-3 Servicio:
                .col-md-3
                  %select.form-control.bkd_srv{name: "booking[booked_services_attributes][][service_id]"}(ng-model= "serv.service_id" ng-change="update_services(#{@provider.id})")
                    -Service.all.each do |se|
                      %option{value: se.id}= se
                .col-md-3
                  %select.form-control.bkd_pt{name: "booking[booked_services_attributes][][pet_id]"}(ng-model= "serv.pet_id" ng-change="update_services(#{@provider.id})")
                    -current_user.pets.each do |pet|
                      %option{value: pet.id}= pet
                .col-md-2 $ {{serv.price}}  MXN
                .col-md-1
                  %a(ng-click="deleteServ(serv)" href="#") X
            %center
              %a.btn.btn-primary.add_srv_btn(ng-click="add_service()") Agregar Servicio
          .panel-heading
            %hr.hr-gray/
          .panel-body
          = f.input :total, as: :hidden, input_html: {value: "{{services_booked_total + pets_booked_total}}"}
          .table
            %h4 Servicios del Cuidador
            %table(width="100%")
              %thead
                %th Mascota
                %th Dias
                %th.total Precio
                %th.total SubTotal
              %tbody
                %tr(ng-repeat="pet in pets_booked")
                  %td {{ pet.pet_name }}
                  %td {{ diff }}
                  %td.total $ {{ pet.price | number:2 }} MXN
                  %td.total $ {{ diff * pet.price | number:2 }} MXN
              %tfoot
                %tr
                  %th.total(colspan=3) SUBTOTAL :
                  %th.total $ {{ pets_booked_total | number:2 }}  MXN
                %tr
                  %th.total(colspan=3) BENEFICIOS KMIMOS :
                  %th.total $ {{ pets_booked_total * 0.2 | number:2 }}  MXN
                %tr
                  %th.total(colspan=3) TOTAL :
                  %th.total $ {{ pets_booked_total * 1.2 | number:2 }}  MXN
            %h4 Servicios Adicionales
            %table(width="100%")
              %thead
                %th Mascota
                %th Servicio
                %th.total Precio
              %tbody
                %tr(ng-repeat="serv in services_booked")
                  %td {{ serv.pet_name }}
                  %td {{ serv.service_name }}
                  %td.total $ {{ serv.price | number:2 }} MXN
              %tfoot
                %tr
                  %th.total(colspan=2) SUBTOTAL :
                  %th.total $ {{ services_booked_total | number:2 }}  MXN
                %tr
                  %th.total(colspan=2) BENEFICIOS KMIMOS :
                  %th.total $ {{ services_booked_total * 0.2 | number:2 }}  MXN
                %tr
                  %th.total(colspan=2) TOTAL :
                  %th.total $ {{ services_booked_total * 1.2 | number:2 }}  MXN
          .panel-body
            = render partial: 'terms', locals: {f: f}

            .form-group.row
              .col-md-12
                %center
                  = link_to 'Reservar', '#myModal', 'data-toggle' => 'modal', :class => "btn grey-button form-control mt-21"

          %div
            %h5 *La reservación del cuidador está sujeta a cambios por motivos de disponibilidad, tamaño de perro y cuidados necesarios.

- @services.each do |service|
  :javascript
    setTimeout(function(){
      $('.add_srv_btn').click();
      $('.bkd_srv:last-child').val("#{service.id}")
    }, 1000);



:javascript


  $('.datepicker_min').datepicker();

  $('.datepicker_max').datepicker();


  setTimeout(function(){

    $('.datepicker_max').datepicker("setDate", "#{Date.strptime(session[:to_date],'%m/%d/%Y').strftime('%d/%m/%Y') rescue '' }");

    $('.datepicker_min').datepicker("setDate", "#{Date.strptime(session[:from_date],'%m/%d/%Y').strftime('%d/%m/%Y') rescue '' }");


    $('.datepicker_max').change();
    $('.datepicker_min').change();

  }, 1000);
