.container-fluid
  .row.text-center.mt-42
    .col-md-4
      = image_tag('reserva.svg')
    .col-md-4 
      %h1.mb-21{style: "font-family: Montserrat-Bold;color: #637988;line-height: 48px;"} ¡Gracias por reservar en Kmimos!
      %br 
      %p.text-small{style: "font-family: Montserrat-Bold;font-weight:bold;"}
        Si no recibes un correo de confirmación o una llamada de nuestro equipo comunícate con nosotros a 55 1791 4931 / 55 6578 614.
      %br
      %p.text-small{style: "font-family: Montserrat-Light; font-size: 24px;color: #637988;"}
        El día #{@booking.start_date.strftime("%d/%m/%Y")} a las #{@booking.pickup_time.strftime("%I:%M %p")},
        %b=@booking.provider 
        estará cuidando a tu perrito y te lo entregará el día ,
        %b= @booking.end_date.strftime("%d/%m/%Y,")
        En el caso de que hayas escogido transportación tu perrito será recogido en la dirección #{@booking.user.address}. El costo de la reserva es de  
        %b=@booking.total  
        %b MXN
        %br
      %h2.text-center{style: "font-family: Montserrat-Bold;color: #637988;line-height: 48px;"} Envío Gratis
      %p.text-small{style: "font-family: Montserrat-Bold;font-weight:bold;"}
        Disfruta de los nuevos productos que tenemos para ofrecerte, estos serán entregados en la casa de tu cuidador de confianza.
      %a.text-secondary.text-center.btn.btn-fold.meet-provider-btn.promo{href: "/promo", "data-fancybox-type": "iframe"} Conoce más
      %br
      %br
      .col-md-4
  - total = 0 
  - total_2 = 0
  -if @booking.booked_services     
    .row{style: "background-color: #fefcb4;"}
      .col-md-4
      .col-md-4.text-center
        %br
        %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"}
          Este es el detalle de su reserva:
        %br

        %br
        - @booking.booked_pets.each do |booked_pet|
          - diff_1 = (@booking.end_date - @booking.start_date).to_i 
          - amount_1 = AdditionalService.get_pet_rate(booked_pet.pet, @booking.provider_id) rescue 0
          - total += amount_1 * diff_1 
          .row.border-bottom
            .col-md-8{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"} - Estadia
            .col-md-4
              %b{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="$ #{AdditionalService.get_pet_rate(booked_pet.pet, @booking.provider_id) * diff_1 rescue 0} MXN"
        %br 
        - @booking.booked_services.each do |service|
          - amount = AdditionalService.get_rate(@booking.provider_id, service.pet.size_id, service.service_id) rescue 0
          - total_2 += amount
          .row.border-bottom
            .col-md-8{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="- #{service.service}"
            .col-md-4
              %b{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="$ #{AdditionalService.get_rate(@booking.provider_id, service.pet.size_id, service.service_id) rescue 0} MXN"
        %br 
          .row.border-bottom
            .col-md-8{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"} - Beneficios Kmimos 
            .col-md-4
              %b{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="$ #{number_to_currency((total + total_2) * 0.2, unit:'MXN' ) } "              
        %br
  %br
  %center
    %h2
      %b Total a pagar:
      %b="$ #{@booking.total } MXN"
  %br
  .row.text-center{style: "background-color: #fefcb4;"}
    %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"} Llegará a tu correo el registro de la reserva con los datos de tu cuidador y datos de contacto con Kmimos. El cuidador se pondrá en contacto contigo en un plazo de 24 horas. 

    %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"} (*) Confirmaremos tu reserva en un período de 24 horas, es posible que pueda haber un cambio. Si así sucede nos contactaremos contigo para informarte y darte la mejor solución.
    %br.mt-42/
    %br
   
    %h3 Quédate tranquilo que tu perrito estará en buenas manos.
    %br
    %br 
- if Rails.env.production?
  :javascript
    mixpanel.track("Reserva exitosa",{
      "id_cuidador" :#{@booking.provider.id},
      "nombre_cuidador": "#{@booking.provider.name}",
      "apellido_cuidador": "#{@booking.provider.last_name_1}"
    });

:javascript
  (function() {
    $(".promo").fancybox({
      'autoScale': false,
      'transitionIn': 'none',
      'transitionOut': 'none',
      'width': '80%',
      'height': '80%'
    });
    var bClicked = false;
    $(".promo").click(function() {
      bClicked = true;
    });
    setTimeout(displayPopup, 5000);
    function displayPopup() {
      if (!bClicked) {
        $(".promo").click();
      }
    }
  })();

/ Facebook Conversion Code for Reservacion exitosa
:javascript
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();

  
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6021903685305', {'value':'0.01','currency':'MXN'}]);
%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6021903685305&cd[value]=0.01&cd[currency]=MXN&noscript=1", :style => "display:none", :width => "1"}/