.container-fluid
  .row.text-center.mt-42
    .col-md-4
      = image_tag('reserva.svg')
    .col-md-4 
      %h1.mb-21 ¡Gracias por solicitar nuestro servicio!
      %br
      %p 
        El dia 
        = @booking.start_date.strftime("%d/%m/%Y")
        a las 
        = @booking.pickup_time.strftime("%I:%M %p")
        en 
        = @booking.user.address
        %b= @booking.provider 
        ira a su domicilio a recoger a su mascota.
        %p Cuidara a su perrito hasta el 
        %b= @booking.end_date.strftime("%d/%m/%Y,")
        el costo de este servicio es de $
        %b= @booking.total 
        MXN
        %br
        %br
      .col-md-4
  .row{style: "background-color: #fefcb4;"}
    .col-md-4
    .col-md-4.text-center
      %br
      %h5
        Usted solicito tambien los servicios adicionales 
      %br
      %br
           
      - @booking.booked_services.each do |service|
        .row.border-bottom
          .col-md-8="- #{service.service}"
          .col-md-4
            %b="$ #{AdditionalService.get_rate(@booking.provider_id, service.pet.size_id, service.service_id) rescue 0} MXN"
       
      %br       
      %h5
        Recibiras un correo de confirmacion y el cuidador se contactara contigo
      %br.mt-42/
      %br
      
      %h3 Quedate tranquilo que tu mascota estara en buenas manos.
      %br
      %br 
        
/ Facebook Conversion Code for Reservacion exitosa
:javascript
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  
  
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6021903685305', {'value':'0.01','currency':'MXN'}]);
%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6021903685305&cd[value]=0.01&cd[currency]=MXN&noscript=1", :style => "display:none", :width => "1"}/