.container-fluid
  .row.text-center.mt-42
    .col-md-4
      = image_tag('reserva.svg')
    .col-md-4 
      %h1.mb-21{style: "font-family: Montserrat-Bold;color: #637988;line-height: 48px;"} ¡Gracias por reservar en Kmimos!
      %br
      %p.text-small{style: "font-family: Montserrat-Light; font-size: 24px;color: #637988;line-height: 42px;"}
        El dia #{@booking.start_date.strftime("%d/%m/%Y")} a las #{@booking.pickup_time.strftime("%I:%M %p")},
        %b=@booking.provider        
        irá a tu domicilio en #{@booking.user.address}, a recoger a tu mascota. Cuidará a tu perrito hasta el 
        %b= @booking.end_date.strftime("%d/%m/%Y,")
        , el costo de este servicio es de $ 
        %b=@booking.total 
        %b MXN
        %br
      .col-md-4
  -if @booking.booked_services     
    .row{style: "background-color: #fefcb4;"}
      .col-md-4
      .col-md-4.text-center
        %br
        %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"}
          Usted solicitó también los servicios adicionales
        %br
        %br
             
        - @booking.booked_services.each do |service|
          .row.border-bottom
            .col-md-8{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="- #{service.service}"
            .col-md-4
              %b{style:"font-family: Montserrat-Regular;color: #637988;line-height: 26px;"}="$ #{AdditionalService.get_rate(@booking.provider_id, service.pet.size_id, service.service_id) rescue 0} MXN"
        %br

    .row.text-center{style: "background-color: #fefcb4;"}
      %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"} Recibirás un correo de confirmación y el cuidador se contactará contigo.
      %h5{style:"font-family: Montserrat-Light;color: #637988;line-height: 42px;"} (*) Esta reserva esta sujeta a cambios si no es confirmada en las próximas 24 horas.
      %br.mt-42/
      %br
     
      %h3 Quédate tranquilo que tu mascota estara en buenas manos.
      %br
      %br 
        
/ Facebook Conversion Code for Reservacion exitosa
:javascript
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  
  
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6021903685305', {'value':'0.01','currency':'MXN'}]);
%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6021903685305&cd[value]=0.01&cd[currency]=MXN&noscript=1", :style => "display:none", :width => "1"}/