
 
%br
= simple_nested_form_for(@user, :html => {:multipart => true}) do |f|  
  .container.pvp-7.ph-21
    .row
      .col-md-2
      .col-md-8
        %div 
          %ul.nav.nav-tabs(role="tablist")
            %li.active(role="presentation")
              %a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Mi Perfil 
            %li.active(role="books")
              %a(href="#books" aria-controls="home" role="tab" data-toggle="tab") Mis Reservas
          %div.tab-content
            %div#home(role="tabpanel" class="tab-pane active" id="") 
              .row.mv-56
                .col-md-3
                  %h3= "#{@user.first_name} #{@user.last_name}"
                  %br
                  = image_tag(@user.photo, width: '100%')
                  
                  = f.input :photo, label: false, label: false  
                  .form-group
                    %label Direccion
                    = best_in_place @user, :address 
                  .form-group
                    %label Codigo Postal
                    = best_in_place @user, :postal_code
                  .form-group
                    %label Telefono
                    = best_in_place @user, :phone
                  .form-group
                    %label E-mail
                    = best_in_place @user, :email 
             
                .col-md-9
                  %h3 Datos de mis mascotas
                  %hr  
                  %br 
                  = f.simple_fields_for :pets do |pet|
                    .row
                      .col-md-4
                        = image_tag(:photo)
                        = pet.input :photo, label: false 
                      .col-md-4 
                        = pet.input :name, label: 'Nombre' 
                        = pet.input :race, label: 'Raza' 
                        = pet.input :age, label: 'Edad' 
                        = pet.association :size, label: 'Tamaño'
                        %br 
                      .col-md-4 
                        = pet.input :weight, label: 'Peso' 
                        = pet.input :sex, label: 'Sexo' 
                        = pet.association :behavior, label: 'Comportamiento'
                  = f.link_to_add "Agregar Mascota", :pets, class: "btn btn-primary" 
              %center
                = f.submit "Actualizar", class: "btn btn-primary" 
            %div#books(role="tabpanel" class="tab-pane" id="books")
              
        
     
%br

:javascript
   $('.best_in_place').best_in_place();