<p>Hola Roberto,

<p>Se acaba de registrar una nueva reserva en Kmimos.</p> 

<p>Nombre del cliente:  <%= @booking.user_first_name %> <%= @booking.user_last_name %></p>	
<p>Teléfono del cliente:  <%= @booking.user_phone %></p>	
<p>Dirección cliente:  <%= @booking.address %></p>	
<p>Correo electrónico del cliente:  <%= @booking.user_email %></p>
<p>Mensaje enviado por el cliente:  <%= @booking.user_message %></p>
<p>Nombre del perro:  <%= @booking.pet_name %></p>
<p>Raza del perro:  <%= @booking.raza %></p>
<p>Edad del perro:  <%= @booking.edad %></p>
<% unless @booking.cuidado_especial.nil? %> 
	<p>Cuidado especial:  <%= @booking.cuidado_especial %></p>
<% end %>

<% unless @booking.start_date.nil? %> 
	<p>Check-in: <%= @booking.start_date.strftime("%d/%m/%Y") %></p>
<% end %>
<% unless @booking.pickup_time.nil? %> 
	<p>Hora de recolección: <%= @booking.pickup_time.strftime("%I:%M %p") %></p>
<% end %>
<% unless @booking.end_date.nil? %>
	<p>Check-out: <%= @booking.end_date.strftime("%d/%m/%Y") %></p>
<% end %>
<% unless @booking.dropoff_time.nil? %>
	<p>Hora de entrega: <%= @booking.dropoff_time.strftime("%I:%M %p") %></p>
<% end %>
<p>Nombre del cuidador: <%= Provider.find(@booking.provider_id).name %>  <%= Provider.find(@booking.provider_id).last_name_1 %></p>
<p>Precio por noche: <%= current_country.currency %> <%= Provider.find(@booking.provider_id).price.to_i %></p>

<p>Kmimos</p>
