!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}


  %body{style: "background-color: #fdfff7, margin: 30px; color: #445a4f;"}
    .container{:style => "margin: 0 auto;padding: 25px;"}
      .header
        %table
          %thead
            %tr
              %td
              %td.logo
                %img{:src => "http://s1.postimg.org/n12q65th7/logo_mail_confirmacion.png"}/
      .container-sm
        %tbody
          %tr
            %td
              %h1{:style => "font-family: arial;font-weight: 100;color: gray; font-size: 64px"}
                %b Hola #{@booking.user.first_name},
          %tr
            %td
              %p
                Se ha hecho una reserva en Kmimos para que
                %b #{@booking.provider.name} 
                cuide a tu mascota :
                %ul
                - @booking.booked_pets.each do |pet|
                  %li= pet.pet
                Desde el dia
                %b #{@booking.start_date} a las #{@booking.pickup_time}
                hasta el
                %b #{@booking.end_date} a las #{@booking.dropoff_time}
              %p
                Recogiendo y entregando a tus perritos en el domicilio ubicado en
                %b #{@booking.address}
              %p
                Para cualquier duda y/o comentario puedes contactarte al telefono
                %b #{@booking.provider.phone}
                o al correo
                %b #{@booking.provider.email}
          - @booking.booked_pets.each do |booked|
            %table
              %tr
                %td
                  %label Nombre
                  %p #{booked.pet}
                  %label Raza
                  %p #{booked.pet.race}
                  %label Tamaño
                  %p #{booked.pet.size}
                  %label Peso
                  %p #{booked.pet.weight}
                  %label Peso
                  %p #{booked.pet.sex}
                %td
                  %h3 Acerca de #{booked.pet}
                  %br
                  %h4 Comportamiento
                  %p #{booked.pet.behavior}
                  %br
                  %p Consideraciones especiales
                  %p #{@booking.user_message}
          %br
        %img{src: "http://www.ucarecdn.com/8acf1ab3-ad25-436c-8d36-399ee00d34cc/beneficios_kmimos.png", width: "100%"}
        %img{src: "http://www.ucarecdn.com/ea2d389b-63c6-4b8f-a857-b48f71c6445b/que_necesitamos_kmimos.png", width: "100%"}
        %center
          %img{src: "http://www.ucarecdn.com/624fa984-5c02-47a7-8786-6309a432ff9f/importante_kmimos_mail.png", width: "50%"}
      %div
        %center
          %a{href: "http://peaceful-ocean-4005.herokuapp.com/bookings/booking_resume.pdf?booking_id=#{@booking.id}"}
      %footer{:style => "background:#1dba9a; padding: 4px 12px;"}
        %table
          %tr
            %td
              %p{:style => "color:white; margin-right: 17px; margin-left: 12px;"} Contáctanos: +55 3455 0138
            %td
              %a{:href => "http://www.cani.mx/", :style => "color: white; margin-right: 88px; text-decoration: none;"} www.cani.mx
            %td
              %p{:style => "color:white; margin-right: 14px;"} Síguenos en:
            %td
              %a{:href => "https://www.facebook.com/pages/Kamimos/1473614136234432?ref=bookmarks"}
                %img{:alt => "", :src => "http://s17.postimg.org/r4ttx53vf/facebook_mail_confirmacion.png", :style => "margin-right: 3px;"}/
              %a{:href => "https://twitter.com/KmimosMx"}
                %img{:alt => "", :src => "http://s12.postimg.org/gdclxk795/twitter_mail_confirmacion.png"}/
