<h1>Listing referrals</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Referrer name</th>
      <th>Referrer email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @referrals.each do |referral| %>
      <tr>
        <td><%= referral.code %></td>
        <td><%= referral.referrer_name %></td>
        <td><%= referral.referrer_email %></td>
        <td><%= link_to 'Show', referral %></td>
        <td><%= link_to 'Edit', edit_referral_path(referral) %></td>
        <td><%= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referral', new_referral_path %>
