<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @referral.code %>
</p>

<p>
  <strong>Referrer name:</strong>
  <%= @referral.referrer_name %>
</p>

<p>
  <strong>Referrer email:</strong>
  <%= @referral.referrer_email %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
