
- provider.comments.each do |comment|
  .comment-container.row
    .user-avatar.col-xs-2
      =image_tag(comment.user.photo, width: '50px', height: '50px', class: 'img-circle')
    .comment-body.col-xs-10
      %h4= "#{comment.user.first_name} #{comment.user.last_name}"
      .valorations.row
        - comment.comment_valuations.each do |cval|
          .col-md-3.col-xs-6
            %b=cval.valuation.name
            .ratingStars.mt-7{el: "this", score: cval.value.to_i} 
      .comment-text.row.mt-21
        .col-xs-12
          %p= comment.body
  %hr
- if current_user != nil
  - @comment = Comment.new 
  = simple_nested_form_for(@comment, :html => {:multipart => true}, remote: true) do |f|  
    .row.valorations-row  
      - Valuation.all.each do |valuation|
        .col-md-3.col-mx-6
          %b=valuation.name
          .ratingStars{el: "#val_#{valuation.id}", score:'0'}
          %input{name:"comment[comment_valuations_attributes][#{valuation.id}][valuation_id]", value: valuation.id, type: 'hidden'}
          %input{name:"comment[comment_valuations_attributes][#{valuation.id}][value]", id:"val_#{valuation.id}"}
       
    .new_comment.row.mt-21
      .avatar.col-md-2
        = image_tag(current_user.photo, width: '50px', height: '50px', class: 'img-circle')
      .comment.col-md-8
        =f.input :provider_id, input_html: {value: provider.id}, as: :hidden
        =f.input :body, label: false
      .col-md-2.mt-7
        = f.submit "Comentar", class: 'btn btn-primary'