<div id="footer" class="mt-70-mob">  
  <section class="bg-success pt-21 pb-21">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 pt-7">
          <h5 class="text-white text-footer">Contáctanos: <%= current_country.phone %>  
            </h5>
     
           
            
           
        </div>
        <div class="col-md-4 col-xs-12"> 
          <div class="row pt-7">
            <div class="col-md-4">
              <h5 class="text-white text-footer"> Síguenos en </h5>
            </div>
            <div class="col-md-8">
              <a href="<%= current_country.facebook  %>">
                <%= image_tag('facebook.svg')%>
              </a>
              <a href="<%= current_country.twitter %>">
                <%= image_tag('twitter.svg')%>
              </a>
              <a href="https://instagram.com/kmimosmx/">
                <%= image_tag('instagram.svg')%>
              </a>  
            </div>
          </div>
        </div>
        <div class="col-md-5 text-muted text-right col-xs-12">
          <h5 class="text-footer">Todos los derechos reservados</h5>
            <%= link_to '<h5>Términos y condiciones</h5>'.html_safe, page_path('tc'), class: "text-footer" %>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $(window).load(function() {
    // The slider being synced must be initialized first
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 120,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel"
    });
  });
</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/5945.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- crazyegg begins -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0029/3661.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- crazyegg ends -->