.navbar.internal
  .navbar-header
    %button.navbar-toggle.mt-28.c-menu{"data-target" => ".navbar-collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .p-7.hidden-xs.hidden-sm.col-xs-4= link_to image_tag('logo-kmimos.svg', class: "mt--14 img-logo"), root_url
    .p-7.hidden-xs.hidden-sm.col-xs-4
      = link_to image_tag('booking.svg', class: "pt-7 mt-14 ml-28 img-home", style: "width: 250px"), "http://www.booking.com/index.html?aid=1147066", target: '_blank'

    .p-7.hidden-md.hidden-lg.col-xs-4
      = link_to image_tag('logo-kmimos.svg', class: "mt-0 img-logo"), root_url      
      = link_to image_tag('booking.svg', class: "", style: "width: 200px; padding: 0px; padding-left: 10px;"), "http://www.booking.com/index.html?aid=1147066", target: '_blank'
    
      

    - if current_user
      %ul.nav.navbar-nav.mt-7.ml-56.hidden-xs
        %li= link_to 'Mi Perfil', user_path(current_user), class: "not-underline white-text"
        %li= link_to 'Mis Reservas', bookings_path, class: "not-underline white-text"
  .collapse.navbar-collapse.text-center
    %div.text-center.hidden-lg.hidden-md
    - if current_provider
      .hidden-lg.hidden-md.hidden
        %li.block.h2= link_to 'Mi perfil', edit_provider_path(current_provider.id)
        %li.block.h2= link_to 'Salir', destroy_provider_session_path, :method => :delete   
    - elsif current_user
      .hidden-lg.hidden-md.hidden
        %li.block.h2= link_to 'Mi perfil', user_path(current_user)
        %li.block.h2= link_to 'Mis Reservas', bookings_path
        %li.block.h2= link_to 'Salir', destroy_user_session_path, :method => :delete 
    - else
      .hidden-lg.hidden-md.hidden
        %li.block.h2= link_to 'Iniciar sesión como Cliente', new_user_session_path, class:'not-underline text-header'
        %li.block.h2= link_to 'Iniciar sesión como Cuidador', new_provider_session_path, class:'not-underline text-header'
        %li.block.h2.pb-21= link_to 'Regístrate', new_user_registration_path, class: "not-underline text-header"
        %li.block.h2= link_to 'Quiero ser cuidador', new_provider_registration_path, class: " sign-up"

    %ul.nav.navbar-nav.mt-14.hidden-xs
      - if current_provider
        %li.ml-35
          .dropdown 
            %a.dropdown-toggle.text-header{"data-toggle" => "dropdown", :href => "#"}
              Hola, #{current_provider.name}
            %ul#dropdown-menu.dropdown-menu
              %li.block= link_to 'Editar perfil', edit_provider_path(current_provider.id)
              %li.block= link_to 'Salir', destroy_provider_session_path, :method => :delete   
      - elsif current_user
        %li.ml-35
          .dropdown 
            %a.dropdown-toggle.text-header{"data-toggle" => "dropdown", :href => "#"}
              Hola, #{current_user.first_name}
            %ul#dropdown-menu.dropdown-menu
              %li{:style => "display:block;"}= link_to 'Mi perfil', user_path(current_user)
              %li{:style => "display:block;"}= link_to 'Mis reservas', bookings_path 
              %li{:style => "display:block;"}= link_to 'Salir', destroy_user_session_path, :method => :delete 
           
      - else
        %li
          .dropdown
            %a.dropdown-toggle.text-header.btn.pv-7(data-toggle="dropdown")
              %span.h5.book.pr-14.ls-md Iniciar Sesión
              %span.caret
            %ul(class="dropdown-menu")
              %li 
                %a{:href => new_user_session_path} Iniciar sesión como Cliente
              %li 
                %a{:href => new_provider_session_path} Iniciar sesión como Cuidador 
        %li= link_to 'Registrarme', new_user_registration_path, class: "not-underline text-header"
        %li.active= link_to 'Quiero ser cuidador', new_provider_registration_path, class: "not-underline sign-up"