.content.mh-630.mb-70
  .row.mt-35.text-center
    .col-md-4
    .col-md-4
      %h2 ¿Olvidaste tu contraseña?
      %br
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label "Ingresa tu correo electrónico"
          %br/
          = f.email_field :email, autofocus: true, class: 'form-control' 
        .actions
          = f.submit "Enviame las instrucciones por correo", class: 'grey-button'
      %br
      = render "providers/shared/links"
    .col-md-4


