<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @provider_attachment.provider_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @provider_attachment.photo %>
</p>

<%= link_to 'Edit', edit_provider_attachment_path(@provider_attachment) %> |
<%= link_to 'Back', provider_attachments_path %>
