<!doctype html>
<html>
	<head>
		<meta charset="utf-8" <title>
		<link rel="stylesheet" href="css/style.css">
		<style>
			.container {
				margin: 0 auto;
			  width: 620px;
				padding: 25px;
			}
			.container-sm {
		    width: 419px;
  			padding-left: 14px;
  			padding-right: 14px;
  			margin: 0 auto;
			}
			p {
				font-family: Trebuchet MS;
				color: #9a9c9c;
			}
		</style>
	</head>
	<body>
		<div class="container" style="margin: 0 auto;padding: 25px;">
			<div class="header">
				<table>
					<thead>
						<tr>
							<td class="logo">
								<img src="http://s23.postimg.org/qsnxkl9av/isotipo_mail_confirmacion.png">
							</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="container-sm">
				<tbody>
					<tr>
						<td>
							<h1 style="font-family: arial;font-weight: 100;color: gray;">Hola <%= @meeting.provider.name %> <%= @meeting.provider.last_name_1 %>,</h1>
						</td>
					</tr>
					<tr>
						<td>
							<p><%=@meeting.user_first_name %> <%=@meeting.user_last_name %> realizó una solicitud para conocerte.</p>
							<p>Aquí los detalles de la solicitud:</p>
						</td>
					</tr>
          <br/>
          <h4> Posible fecha de Estadia</h4>
					<table>
            <tr>
					    <td><p style="margin: 0;">Fecha de Inicio</p></td>
					    <td><p style="margin: 0;">: <%= @meeting.start_date %>  </p></td>
					    <td> </td>
					  </tr>
            		  <tr>
					    <td><p style="margin: 0;">Fecha de Fin</p></td>
					    <td><p style="margin: 0;">: <%= @meeting.end_date %>  </p></td>
					    <td> </td>
					  </tr>
					</table>
          			<br/>
					<table>
            		  <tr>
					    <td>
					    	<p style="margin: 0;">Datos del cliente</p>
					    </td>
					    <td>
					    	<p style="margin: 0;">: <%= @meeting.user_first_name %> <%= @meeting.user_last_name %></p>
					    </td>
					  </tr>
					  <tr>
					  	<td>
					  		<p style="margin: 0;">Correo</p>
					  	</td>
					    <td>
					    	<p style="margin: 0;">: <%= @meeting.user_email %></p>
					    </td>
					  </tr>
					  <tr>
					  	<td>
					  		<p style="margin: 0;">Teléfono</p>
					  	</td>
					    <td>
					    	<p style="margin: 0;">: <%= @meeting.user_phone %></p>
					    </td>
					  </tr>
					</table>
					<table>
						<tr>
							<td>
								<p>Cualquier pregunta no dudes en contactarnos al +55 1791 4931 / 55 6578 6147.</p>
								<p>¡Gracias!</p>
								<p>El equipo de  &nbsp;<img src="http://s1.postimg.org/n12q65th7/logo_mail_confirmacion.png" alt="" style="top: 1px; position: relative;"></p>
							</td>
						</tr>
					</table>
				</tbody>
			</div>
			<footer style="background:#13334C; padding: 4px 12px; width:100%">
				<table style="background:#13334C; padding: 4px 12px;width:100%">
					<tr style="background:#13334C; padding: 4px 12px;">
						<td style="background:#13334C; padding: 4px 12px;">
							<p style="color:white; margin-right: 17px; margin-left: 12px;">Contáctanos: 55 1791 4931 / 55 6578 614</p>
						</td>
						<td style="background:#13334C">
							<%if @country.name == "México" %>
							<a href="http://www.kmimos.la/" style="color: white; margin-right: 88px; text-decoration: none;">
								www.kmimos.com.mx
							</a>
							<%else%>
							<a href="http://www.kmimos.com.mx/" style="color: white; margin-right: 88px; text-decoration: none;">
								www.kmimos.la
							</a>
							<%end%>
						</td>
						<td style=style="background:#13334C; padding: 4px 12px;">
							<p style="color:white; margin-right: 14px;">Síguenos en:</p>
						</td>
						<td style="background:#13334C; padding: 4px 12px;">
							<a href="https://www.facebook.com/pages/Kamimos/1473614136234432?ref=bookmarks" target="_blank">
								<img src="http://www.ucarecdn.com/9765bf04-3080-4b1f-afff-246b0f011018/facebook.png" style="margin-right: 3px;"/>
							</a>
							<a href="https://twitter.com/KmimosMx" target="_blank">
								<img src="http://www.ucarecdn.com/3a6702b4-7271-4318-83ce-1727c90391f4/twitter.png" style="margin-right: 3px;"/>
							</a>
							<a href="https://instagram.com/kmimosmx/" target="_blank">
								<img src="http://www.ucarecdn.com/4711d4df-feb4-4fad-8eee-9f6aa3170675/instagram.png" style="margin-right: 3px;"/>
							</a>
						</td>
					</tr>
				</table>
			</footer>
		</div>
	</body>
</html>