<p>Hola Kmiamigo,

<p>Se acaba de registrar una solicitud para conocer en persona a un cuidador de Kmimos.</p> 

<p>Nombre del cliente:  <%= @meeting.user_first_name %> <%= @meeting.user_last_name %></p>	
<p>Teléfono del cliente:  <%= @meeting.user_phone %></p>	
<p>Correo electrónico del cliente:  <%= @meeting.user_email %></p>


<p>Nombre del cuidador: <%= @meeting.provider.name %>  <%= @meeting.provider.last_name_1 %></p>

<p>Kmimos</p>
