<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

      <div class="panel-heading medium text-gray mb-14">
      <center>
        <h5>Cambiar contrase単a</h5>
      </center>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
  <div class="panel-body">
      <div class="form-group">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> Caracteres Minimos)</em>
          <br/>
        <% end %>
        <%= f.input :password, autofocus: true, autocomplete: "off", label: "contrase単a" %>
      </div>

      <div class="form-group">
        <%= f.input :password_confirmation, autocomplete: "off", label: "Confirmar contrase単a" %>
      </div>

      <div class="actions">
        <%= f.submit "Cambiar Contrase単a", class: 'form-control btn btn-primary mb-21'  %>
      </div>
    <% end %>

    <%= render "providers/shared/links" %>
    </div>
  </div>
</div>
