<div class="container-fluid">
  <div class="row header-navbar bg-success">
    <div class="col-md-6 mt-7 col-xs-4">
     <%= link_to image_tag('logo-kmimos-blanco-02.png', class: "p-14 mb-7 img-logo"), root_url %>
    </div>
    <div class="col-md-6 mt-7">
      <div class="collapse navbar-collapse p-7">
        <ul class="nav navbar-nav pull-right">
          <% if current_provider %>
            <li class="dropdown mt-7">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %> <i class="fa-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="divider"></li>
                <li><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7">
                <li class="list-group-item"><%= link_to '<i class="fa-edit"></i> Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to '<i class="fa-power-off"></i> Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-sm hidden-xs">
           <%= link_to 'Ingresa a tu cuenta'.html_safe, new_providers_session_path, class: "not-underline" %>
          </li>
          <li class="hidden-lg hidden-md">
            <%= form_tag providers_sessions_path, :class => "form-inline mb-0 user-login-header-form" do %>
            <div class="form-group mr-7">
              <label class="hidden-lg hidden-md hidden-sm text-muted">Ingreso de proveedores</label>
              <%= email_field_tag :email, params[:email], :autofocus => true, :class => "form-control input-sm", :placeholder => "Correo electrónico" %>
            </div>
            <div class="form-group mr-7">
              <%= password_field_tag :password, nil, class: "form-control input-sm", :placeholder => "Contraseña" %>
            </div>
            <div class="form-group text-center">
              <%= submit_tag "Ingresa", id: "user_login_button", class: "btn btn-info-grad btn-sm" %>
            </div>
          <% end %>
          </li>
          <% end %>   
        </ul>
      </div>
    </div>
  </div>
</div>
  