   <div class="navbar internal p-7">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle mt-28" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class=" p-7 hidden-xs hidden-sm col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt--14 img-logo"), root_url %>
        </div>
        <div class=" p-7 hidden-md hidden-lg col-xs-4">
          <%= link_to image_tag('logo-kmimos-blanco-04.png', class: "mt-0 img-logo"), root_url %>
        </div>
      </div>
      <div class="collapse navbar-collapse pr-21">
        <ul class="nav navbar-nav mt-14">
          <% if current_provider %>
            <li class="dropdown mt-7 size-responsive">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">Hola, <%= current_provider.name %></a>
              <ul class="dropdown-menu" id="dropdown-menu">
                <li><%= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider), class: "text-danger pl-14 pr-14 mb-14" %></li>
                <li><%= link_to 'Salir'.html_safe, salir_path, :method => :delete, class: "text-danger pl-56 pr-56" %></li>
                <br/>
                <li><%= link_to 'Prueba la nueva version de Kmimos'.html_safe, apply_to_new_version_provider_path(current_provider.id), class: "text-danger pl-14 pr-14 mb-14 sign-up" %></li>
              </ul>
            </li>
            <li class="hidden-lg hidden-md">
              <ul class="list-group m-0 pt-7 pl-0 list-movil-header">
                
                <li class="hidden-lg hidden-md hidden-sm  li-first">
                  <%= link_to 'Home', root_url, class: "not-underline log-in" %>
                </li>
                <li class="hidden-lg hidden-md hidden-sm">
                  <%= link_to 'Reservar', providers_path, class: "not-underline log-in" %>
                </li>
                <li class="list-group-item"><%= link_to 'Actualizar mi perfil'.html_safe, edit_provider_path(current_provider) %></li>
                <li class="list-group-item"><%= link_to 'Salir'.html_safe, salir_path, :method => :delete, class: "text-danger" %></li>
              </ul>
            </li>
          <% else %>    
          <li class="active hidden-xs mr-7">
            <%= link_to 'Iniciar sesión', new_providers_session_path, class: "not-underline log-in" %>
          </li>
          <li class="active hidden-xs">
            <%= link_to 'Ser cuidador', new_provider_path, class: "not-underline sign-up" %>
          </li>
          <li class="hidden-lg hidden-md hidden-sm">
            <%= link_to 'Home', root_url, class: "not-underline log-in" %>
          </li>
          <li class="hidden-lg hidden-md hidden-sm">
            <%= link_to 'Iniciar sesión', new_providers_session_path, class: "not-underline log-in" %>
          </li>
          <li class="hidden-lg hidden-md hidden-sm">
            <%= link_to 'Reservar', providers_path, class: "not-underline log-in" %>
          </li>
          <li class="hidden-lg hidden-md hidden-sm">
            <%= link_to 'Ser cuidador', new_provider_path, class: "not-underline log-in" %>
          </li>
          <% end %>   
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
