!!!
%html
  %head
    %title #{yield :title}
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}/
    = render partial: 'layouts/partial/metas'
    
    = csrf_meta_tags

    / FONTS
    %script{:src => "//use.typekit.net/jod1lcb.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    / END FONTS

    / PROVIDER STYLES
    = stylesheet_link_tag 'promo.css'

    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-56422840-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
  %body(data-snap-ignore="true")
  
    - cache do
      = render partial: 'layouts/partial/mix_panel'
    = yield :content