!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title kmimos
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "@MadeByGus", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}/

    = stylesheet_link_tag "style", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    / App styles
    = stylesheet_link_tag "ebm", media: "all"
    %script{:src => "https://use.typekit.net/jod1lcb.js"}
    = csrf_meta_tag
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    - cache('main_search_form') do
      = render :partial => 'layouts/shared/search_form'
    = yield
    - cache do
      = render partial: 'layouts/partial/footer'
    //%script{:src => "assets/js/jquery.min.js"}
    / App scripts
    //%script{:src => "assets/js/scripts.min.js"}
    //%script{:src => "assets/js/menu-control.js"}

:javascript

  $('.datepicker').datepicker();
