!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "@MadeByGus", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "assets/favicon.png", :rel => "shortcut icon"}/

    = stylesheet_link_tag "style", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "mobile", media: "all"
    
    = javascript_include_tag "application"
    = javascript_include_tag "snap"
    / App styles
    = stylesheet_link_tag "ebm", media: "all"
    = stylesheet_link_tag "responsive", media: "all"

    %script{:src => "https://use.typekit.net/jod1lcb.js"}
    = csrf_meta_tag
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    #drawers
      #right-drawer
        = render partial: 'layouts/partial/mobile_header'
    #content{style: "background-color: #fff;"}
      = yield
      - cache do
        = render "layouts/partial/footer"
    .searcher
      %h3.text-header  Buscar cuidador
      %p Selecciona donde, cuando y que necesitas para dejar tu perrito.
      = search_form_for @search do |f|
        .form-group
          = f.grouped_collection_select(:locations_id_eq, State.where("country_id=?", current_country.id).order(:name), :locations, :name, :id, :name , {:prompt => current_country.id == 2 ? "Elegir Barrio" : "Elegir Municipio o Delegación"}, { :class=> "form-control" })
        .form-group
          %input.form-control{value: session[:from_date]}(placeholder="Desde" name="from_date" type= 'date')
        .form-group
          %input.form-control{value: session[:to_date]}(placeholder="Hasta" name="to_date" type= 'date')
        %button.grey-button Buscar
      %br
      %br
    
    
    %button.grey-button.do_search Buscar Cuidador

:javascript

  var snapper = new Snap({
    element: document.getElementById('content'),
    resistance: 0.5,
    easing: 'ease',
    transitionSpeed: 0.3,
    minDragDistance: 5,
    disable: 'left'
  });


  $('.do_search').on('click', function(){
    $('.searcher').slideToggle();
  });

    //%script{:src => "assets/js/jquery.min.js"}
    // App scripts
    //%script{:src => "assets/js/scripts.min.js"}
    //%script{:src => "assets/js/menu-control.js"}
    
    (function() {

      "use strict";

      var toggles = document.querySelectorAll(".c-hamburger");

      for (var i = toggles.length - 1; i >= 0; i--) {
        var toggle = toggles[i];
        toggleHandler(toggle);
      };
      
      function toggleHandler(toggle) {
        toggle.addEventListener( "click", function(e) {
          e.preventDefault();
          if (this.classList.contains("is-active") === true) {
            this.classList.remove("is-active");
            snapper.close();
          } else { 
            this.classList.add("is-active"); 
            snapper.open('right');
          }
          
        });
      }

    })();

:javascript

  $('.datepicker').datepicker();
