!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "@MadeByGus", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "assets/favicon.png", :rel => "shortcut icon"}/

    = stylesheet_link_tag "style", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    / App styles
    = stylesheet_link_tag "ebm", media: "all"
    = stylesheet_link_tag "responsive", media: "all"

    %script{:src => "https://use.typekit.net/jod1lcb.js"}
    = csrf_meta_tag
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    = yield
    .searcher
      %h3.text-header  Buscar cuidador
      %p Selecciona donde, cuando y que necesitas para dejar tu perrito.
      = search_form_for @search do |f|
        .form-group
          = f.grouped_collection_select(:locations_id_eq, State.where("country_id=?", current_country.id).order(:name), :locations, :name, :id, :name , {:prompt => current_country.id == 2 ? "Elegir Barrio" : "Elegir Municipio o Delegación"}, { :class=> "form-control" })
        .form-group
          %input.form-control{value: session[:from_date]}(placeholder="Desde" name="from_date" type= 'date')
          %input.form-control{value: session[:to_date]}(placeholder="Hasta" name="to_date" type= 'date')
        %button.grey-button Buscar
      %br
      %br
    %button.grey-button.do_search Buscar


:javascript


  $('.do_search').on('click', function(){
    $('.searcher').slideToggle();
  });

    //%script{:src => "assets/js/jquery.min.js"}
    // App scripts
    //%script{:src => "assets/js/scripts.min.js"}
    //%script{:src => "assets/js/menu-control.js"}

:javascript

  $('.datepicker').datepicker();
