!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title kmimos
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "@MadeByGus", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}/

    = stylesheet_link_tag "ebm", media: "all"
    = stylesheet_link_tag "style", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "mobile", media: "all"
    
    = javascript_include_tag "application"
    = javascript_include_tag "snap"
    / App styles
    = stylesheet_link_tag "responsive", media: "all"
    = render partial: 'layouts/partial/mix_panel'
    = render partial: 'layouts/partial/initializer'
    %script{:src => "https://use.typekit.net/jod1lcb.js"}
    = csrf_meta_tag
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body(data-snap-ignore="true")
    #drawers 
      #right-drawer
        = render partial: 'layouts/partial/mobile_header'
    #content{style: "background-color: #fff;"}
      = render "layouts/partial/header" unless home?
      = yield
      - cache do
        = render "layouts/partial/footer"
    .searcher
      .pulse
        = image_tag('cerrar-buscador.svg', class: "toggle-down")
      %h3.text-header  Buscar cuidador
      %p Selecciona donde, cuando y que necesitas para dejar tu perrito.
      = search_form_for @search do |f|
        .form-group
          = collection_select(:states, :id, State.where("country_id=?",current_country.id).order(:name), :id, :name, {:prompt => current_country.id == 2 ? "Seleccione una Provincia" : "Seleccione un Estado", :selected => @state_id}, {class: "form-control", required: "true" })
        .form-group
          = collection_select(:locations, :id, Location.where("state_id=?", State.where("country_id=?", current_country.id).first.id.to_s).order(:name), :id, :name, {:prompt => current_country.id == 2 ? "Seleccione un Barrio" : "Municipio o Delegación", :selected => @location_id}, { :class=> "form-control" })
        .form-group
          %input.form-control.from-date{value: session[:from_date]}(placeholder="Desde" name="from_date" type= 'date' required="true" min="#{Date.today}")
        .form-group
          %input.form-control.to-date{value: session[:to_date]}(placeholder="Hasta" name="to_date" type= 'date' required="true" min="#{Date.today}")
        %button.grey-button Buscar
      %br
      %br
    
    %button.grey-button.do_search Buscar Cuidador
    
    
    = image_tag('abrir-buscador.svg', class: "open-search")
:javascript

  $('.do_search').on('click', function(){
    $('.searcher').slideToggle();
  });
  
  $('.toggle-down').on('click', function(){
    $('.searcher').slideToggle();
    $('.open-search').removeClass('hidden');
  });
  
  $('.open-search').on('click', function(){
    $('.searcher').slideToggle();
  });

  $('#provider_search').on('submit', function(e) {
    var preventDates = false;
    var preventLocation = false;
    var datepickers = $(this).find("input[type=date]");
    var location = $("#states_id").val();
    for (var i = 0; i < datepickers.length; i++) {
      if ($(datepickers[i]).val().length == 0) preventDates = true;
    }
    if ($(this).find(".from-date").val() > $(this).find(".to-date").val()) preventDates = true;
    
    if (location == undefined || location.length == 0) {
      preventLocation = true;
    }
    if (preventLocation) {
      e.preventDefault();
      alert('Ingrese el lugar donde desea buscar cuidadores, por favor.')
    } else if (preventDates) {
      e.preventDefault();
      alert('Ingrese un rango de fecha válido, por favor.');
    } 
  });
  
:javascript
  (function() {
    "use strict";
    
    var snapper = new Snap({
      element: document.getElementById('content'),
      resistance: 0.5,
      easing: 'ease',
      transitionSpeed: 0.3,
      minDragDistance: 5,
      touchToDrag: true,
      disable: 'left'
      
    });
    
    var toggles = document.querySelectorAll(".c-menu");

      for (var i = toggles.length-1; i >= 0; i--) {
        var toggle = toggles[i];
        toggleHandler(toggle);
      };

      function toggleHandler(toggle) {
        toggle.addEventListener( "click", function(e) {
        e.preventDefault();
        
        if (this.classList.contains("isactive") === true) {
          this.classList.remove("isactive");
          snapper.close();
        } else { 
          this.classList.add("isactive"); 
          snapper.open('right');
        }
      });
    }
  })();