%h3 Paso 1
%section
  .row
    .col-md-12.p-0
      %h2.title-step Datos personales
      %hr
  .row
    .col-md-1
    .col-md-10.p-0
      .row
        .col-md-3.p-0 Nombre:
        .col-md-9.p-0= f.input :first_name, label: false
      .row
        .col-md-3.p-0 Apellido:
        .col-md-9.p-0= f.input :last_name, label: false
      .row
        .col-md-3.p-0 Teléfono:
        .col-md-5.p-0= f.input :phone, label: false
      .row
        .col-md-3.p-0 Código Postal:
        .col-md-5.p-0= f.input :postal_code, label: false, input_html: {onchange: "getDirection(this)"}
       
      .row.hidden
        .col-md-3.p-0 Estado:
        .col-md-5.p-0= f.input :state_name, as: :text, label: false, input_html: {class: 'stateUser', disabled: true} 
      .row.hidden
        .col-md-3.p-0 Municipio:
        .col-md-5.p-0= f.input :place_name, as: :text, label: false, input_html: {class: 'cityUser', disabled: true} 
      .row
        .col-md-3.p-0 Dirección:
        .col-md-5.p-0= f.input :address, as: :text, label: false, hint: 'Tu dirección solo será compartida al momento de completar una reserva'
      
      .row
        .col-md-3.p-0 Foto de perfil:
        .col-md-5.p-0= f.input :photo, label: false
      .row
        .col-md-12
          %br
          %hr
      .row
        .col-md-3.p-0 Correo electrónico:
        .col-md-9.p-0= f.input :email, label: false
      .row
        .col-md-3.p-0 Contraseña:
        .col-md-9.p-0= f.input :password, label: false
      .row 
        .col-md-3.p-0 Confirma tu contraseña:
        .col-md-9.p-0= f.input :password_confirmation, label: false        
    .col-md-1
    
    
:javascript
    
    function getDirection(el){
      var elVal = $(el).val();
      
      var client = new XMLHttpRequest();
      client.open("GET", location.protocol + "//maps.googleapis.com/maps/api/geocode/json?address=" + elVal + "&sensor=false&components=country:#{current_country.locale[3..-1]}", true);
      
      client.onreadystatechange = function() {
        $('.stateUser').val('');
        $('.cityUser').val('');  
      	
      	if(client.readyState == 4) {
      		var response = JSON.parse(client.response);
          if (response.status == 'OK') {
            if (response.results[0].address_components.length >= 6) {
              $('.stateUser').val(response.results[0].address_components[4].long_name);
              $('.cityUser').val(response.results[0].address_components[3].long_name);  
            }
            else if (response.results[0].address_components.length >= 4 && response.results[0].address_components.length < 6) {
              $('.stateUser').val(response.results[0].address_components[4].long_name);
              $('.cityUser').val(response.results[0].address_components[2].long_name);  
            }
          }
        }
      };

      client.send();
    }

  