%h3 Paso 2
%section
  .row
    .col-md-12
      %h2.title-step Datos de tu mascota
      %hr
  .row
    .col-md-1
    .col-md-10
      = f.simple_fields_for :pets do |p|
        .row
          .col-md-3 Nombres:
          .col-md-9= p.input :name, label: false 
        .row 
          .col-md-3 Raza:
          .col-md-9= p.association :race, label: false
        .row 
          .col-md-3 Edad:
          .col-md-6= p.input :age, label: false
          .col-md-3 Años
        .row 
          .col-md-3 Tamaño:
          .col-md-9= p.association :size, label: false 
        .row
          .col-md-3 Peso:
          .col-md-9= p.input :weight, label: false 
        .row
          .col-md-3 Sexo:
          .col-md-9= p.input :sex, label: false, as: :check_boxes, :collection => ['Masculino', 'Femenino']
        .row
          .col-md-3 Comportamiento:
          .col-md-9= p.association :behavior, label: false
        .row
          .col-md-3 Foto:
          .col-md-9= p.input :photo, label: false
        .row.border-bottom
          .col-md-12= p.link_to_remove "Eliminar"
      = f.link_to_add "Agregar una Mascota", :pets
    .col-md-1